.page-404{
	padding-top: 45px;
	.heading{
		font-size: 80px;
	}
	.img-404{
		background: url("../img/404.png");
		background-size: 250px 132px;
		background-repeat: no-repeat;
		margin: 0 auto;
		width: 250px;
		height: 132px;
	}
}