.timeline .page-main-content h4{
  text-transform:uppercase;
  color:#fff;
  font-size:2.3rem;
  margin-bottom:1em;
}
.timeline .page-main-content .timeline-plain h4{
  color:#000;
}

.timeline .page-main-content h4:after{
  content:"";
  display:block;
  width:75px;
  height:3px;
  background:$p1;
  margin-top:.8rem;
}

.page-main-content .timeline-img-text{
  background:$s2;
  color:#fff;
}
.page-main-content .timeline-img-text ~ .timeline-img-text{
  background-color:$s3;
}
.page-main-content .timeline-img-text ~ .timeline-img-text ~ .timeline-img-text{
  background-color:$s5;
}
.page-main-content .timeline-img-text ~ .timeline-img-text ~ .timeline-img-text{
  background-color:$s4;
  color:#000;
}
.page-main-content .timeline-img-text ~ .timeline-img-text ~ .timeline-img-text ~ .timeline-img-text{
  background-color:#19204a;
  color:#fff;
}
.page-main-content .timeline-img-text ~ .timeline-img-text ~ .timeline-img-text h4{
  color:#fff;
}
.page-main-content .timeline-img-text.text-left div.vc_column_container:nth-of-type(1){
  padding:3em 1em 3em 5em;
}
.page-main-content .timeline-img-text.text-right div.vc_column_container:nth-of-type(2n){
  padding:3em;
}


@media screen and (min-width:768px){
    .timeline-plain.staggered .wpb_column:nth-child(odd){
      padding-right:1em;
    }
    .timeline-plain.staggered .wpb_column:nth-child(even){
      padding-top:5em;
      padding-left:1em;
    }
}
@media screen and (max-width:768px){
    .timeline-plain.staggered{
      .wpb_column:nth-child(even) img{
        float:right;
        &.aligncenter{
          float:none;
        }
      }
      &.wpb_column img {
        float: none!important;
        margin: 0 auto;
        display: block;
      }
    }
    .timeline .timeline-gallery{
      border-right:1em solid $light;
      border-left:1em solid $light;
    }
    .page-main-content .timeline-img-text.text-left div.vc_column_container:nth-of-type(1){
      padding:3em 2em 3em 2em;
    }
    .float-on-small{
        float:right;
    }
}
.timeline-plain.staggered .wpb_column + .wpb_column {
  margin-top:1em;
}
.timeline .timeline-plain.staggered h4{
    text-align:center;
}
.timeline .timeline-plain.staggered h4:after{
    margin:0 auto;
}
.timeline .vc_row + .vc_row{
  margin-top:2.5em;
}

/* Stop the full width clearfixes in the footer from having height 
and causing the footer to seperate
 */

 footer div.vc_row-full-width.vc_clearfix {
  height: 0;
 }

