.woocommerce-account{
	.woocommerce-MyAccount-navigation,
	.woocommerce-MyAccount-content{
		.woocommerce-button,
		a.button,
		a.edit,
		button,
		a.delete{
			padding: 5px 15px;
			display: inline-block;
			background: $s1;
			color: $lightest !important;
			margin: 15px 0;
		}
		button{
			line-height: 0;
		}
		a.delete{
			background: $p1 !important;
		}
		ul li.is-active a,	
		ul li a:hover{	
			color: $s1 !important;
		}
	}
	.form-row-last{
		float: left;
	}
}

