.blokini-data-box{
	.wpb_wrapper{
		.blokini-number,
		.blokini-text{
			float: left;
			color: $darkest;
			height: 72px;
		}
		.blokini-number{
			width: 30%;
			font-size: 27px;
			font-weight: bold;
			background-color: $light;
			line-height: 72px;
			text-align: center;
		}
		.blokini-text{
			display: flex; 
			width: 70%;
			height: 72px;
			background: $s4;
			margin-bottom: 30px;
      p{
      	margin: auto 0; /* Important */ 
				font-size: 15px;
				padding: 0px 20px;
			}
		}
	}
}

.blokini-process{
	.process-holder{
		float: left;
		width: 18%;
		position: relative;
		display: flex; 
		height: 150px;
		width: 150px;
		background: $s4;
		margin: 50px auto 0;
		background: $p6;
		&:nth-child(2),
		&:nth-child(4){
			float: right;
		}
		.svg-inline--fa{
			position: absolute;
	    	font-size: 47px;
	   		color: $s4;
	    	text-align: center;
		}
		&:nth-child(1){
			.svg-inline--fa{
				right: -35px;
				top: 46px;
			}
		}
		&:nth-child(2){
			.svg-inline--fa{
				bottom: -48px;
				width: 150px;
			}
		}
		&:nth-child(4){
			.svg-inline--fa{
				left: -35px;
				top: 46px;
			}
		}
		&:nth-child(3){
			.svg-inline--fa{
				bottom: -48px;
				width: 150px;
			}
		}

		p{
			color: $s4;
			text-align: center;
			margin: auto;
			font-weight: bold;
			font-size: 22px;
			line-height: 35px;
		}
	}
	.vc_images_carousel .vc_carousel-control{
		.icon-next, .icon-prev{
			font-family:inherit;
			text-shadow:none;
			&:before{
				font-size:5em;
				color:$lightest;
			}
		}
		&.vc_right{
			right:.5em;
		}
	}
}

