.de-de{
  .blog-content{
    // .blog-content{
      display: flex;
      flex-wrap:wrap;
    // }
    .post-item{
      display: flex;
      flex-direction: column;
      margin-right:-1px;
    }
    &.grid .post-info{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .content-info{
        flex-grow:1;
      }
    }
    .pseudo-background-img-container {
      position: relative;
    }
    .pseudo-background-img-container img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width:initial;
      transition: all 0.3s linear 0s;
    }
    // .button.blog{
    //     span{
    //       border: 2px solid #000;
    //       padding: .3em 0.8em;
    //       text-transform: uppercase;
    //       font-weight: 700;
    //       font-size: 1.3em;
    //       color: #000;
    //     }
    //     &:hover{
    //       span{
    //         background:#000;
    //         color:#fff;
    //       }
    //     }
    //  }
    .post-item.female{
      padding-bottom: 3em;
      .thumb{
        position: relative;
        .pseudo-background-img-container {
          position: relative;
          width:80%;
          padding-top:80%;
          border-radius:50%;
          overflow: hidden;
          img{
            z-index:-1;
          }
          @include respond-to(xsmall-only) {
            margin: 0 auto;
          }
        }
        &:after{
          // content: "";
          // width: 30%;
          // padding-bottom:30%;
          // border-radius: 50%;
          // background-color:$fem-beige4;
          // position: absolute;
          // top: 0;
          // transform: translate(25%,-25%);
          // mix-blend-mode: multiply;
          // @include respond-to(xsmall-only) {
          //   right: 0;
          //   transform: translate( 0, -25%);
          // }
        }
      }
      &:nth-child(4n) .thumb:after{
        background-color:$fem-pink22;
      }
      &:nth-child(3n) .thumb:after{
        background-color:$fem-purple4;
      }
      &:nth-child(2n) .thumb:after{
        background-color:$fem-green4;
      }
      .content-info{
          font-size: 1.3rem;
      }
      .panel_header{
        @include female-font;
        font-size:2.2em;
        margin-top:-1em;
        min-height:2em;
        span{
          background:#000;
          color:#fff;
          display: block;
          width: fit-content;
          width: -moz-fit-content;
          padding: 10px 6px 4px;
          line-height: 0.7;
          &:first-child{
            margin-bottom:2px;
            margin-right:1em;
          }
          &:last-child{
            margin-left:0.5em;
          }
        }
      }
      .post-excerpt{
        width: 80%;
        max-width:100%;
        font-family: 'Open Sans',sans-serif;
        font-weight: 300;
        font-size: 1.1rem;
        color: #000;
        text-align: left;
        padding-left: 1.5rem;
        margin-top: 0.6em;
        @include respond-to(small){
          // width:50%;
        }
        @include respond-to(xsmall-only){
          margin: 0.6em auto 0;
          padding: 0;
        }
      }
      .button.blog{
          position: absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
        span{
          position: absolute;
          bottom: 0;
          left: 80%;
          transform: translate(-100%);
          // border: 2px solid #000;
          // padding: .3em 0.8em;
          // text-transform: uppercase;
          // font-weight: 700;
          // font-size: 1.3em;
          // color: #000;
          @include respond-to(medium){
            // font-size:1.2rem;
          }
        }
      }
      &:hover{
        img{
          width:105%;
          height:105%;
        }
        .button span{
          // background:#000;
          // color:#fff;
        }
      }
    }
    .post-item.male{
      align-items: center;
      .post-thumb-grid{
        overflow:hidden;
         &:after{
          @include yellowbar;
            top: -10px;
            left: 20px;
        }
      }
      .post-title{
          font-size: 1rem!important;
        a{
          color:#000;
          &:hover, &:active, &:focus{
            color:$mb-red-bright;
          }
        }
      }
       &:nth-child(4n) .post-thumb-grid:after{
          background-color:$male-green;
        }
        &:nth-child(3n) .post-thumb-grid:after{
          background-color:$mb-red-bright;
        }
        &:nth-child(2n) .post-thumb-grid:after{
          background-color:$mb-purple;
        }
    }
    .button.blog{
      span{
        font-size: 1rem;
        @include respond-to(medium){
          font-size:1.2rem;
        }
      }
    }
  }
}