.de-de.single-post{
	.main-single-content{
		h2{
			margin: 40px 0 20px;
		}
		a:not(.vc_btn3){
			color: $s1;
		}
		.vc_row + .vc_row{
			padding-top:2rem;
		}
	}
	.header-post.style-03 div{
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-size: cover;
		background-position: center;
	}
	.header-post.style-03:before{
		content:none;
	}
}
@media (min-width: 768px){
	.de-de.single-post{
		.main-single-content{
			.vc_row{
				display: flex;
				align-items:center;
			}
		}
	}
}
// German site blog styling
.de-de{
	.blog-content.grid{
		.post-info{
			background: #fff;
			margin-top: -3em;
			width: 80%;
			padding: 14px .5em .5em;
			position: relative;
			text-align: center;
		}
		a.thumb-link{
			height:300px;
		}
		.post-title{
			&:before{
				content:none;
			}
			a{
				font-family: 'gothambold';
    			text-transform: uppercase;
				color:#000;
			}
		}
		.content-info{
			font-family: 'gothambook';
			font-size: 1rem;
		}
		&.blog{
			.page-title{
				text-indent: -3000px;
			}
		}
		.category-bathroomstories{
			.post-title{
				a{
					font-family: 'ding_dongregular';
					text-transform:none;
				    font-size: 2.5rem;
				    font-weight: 100;
				    line-height: 1.2;
				}
			}
			.content-info{
				font-family: 'caviar_dreamsregular';
			}
		}
	}
	&.single{
		.post-title{
			text-align:center;
			font-weight:bold;
		}
		.single-container{
			padding-top:0;
		}
		.breadcrumb-trail.breadcrumbs {
			display: block;
		}
	}

}

@media (max-width: 767px) {
	.de-de {
		&.single {
			.single-container .header-post {
				min-height: 200px;
			}
		}
	}
}

@media (max-width: 991px) {
	.de-de {
		.post-title { //double important required to override the lebe style
			font-size: 2rem !important;
			line-height: 1.3 !important;
		}
	}
}

// Styles for the movember posts
//landing page
ul.blog-cat-links{
	list-style-type:none;
	margin:0 auto 1em;
	overflow: auto;
	li{
		display: inline;
		ul{
			float:left;
			padding-left:0;
		}
		a{
			padding:.8em;
			background:#000;
			color:#fff;
			float:left;
			margin-left:.5em;
			&:hover, &:active, &:focus{
				background: $s1;
				color:$lightest;
			}
		}
	}
}

.category-bathroomstories .page-title{
	text-indent:-5000px;
}

.movember-block-row{
	@media screen and (min-width:768px){
		display: flex;	
	}
	margin-top:1em;
	.movember-grid-box{
		background: black;
		color:#fff;
		font-family: Anton,sans-serif;
		text-align:center;
		font-size:3em;
		line-height:1.2;
		text-transform: uppercase;
		padding:1em auto;
		display: flex;
		*{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		a{
			position: absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			text-indent:-20000px;
		}
	}
}
.movember-wrap .movember{
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: 50%,50%,0;
	background-position: left,right,center;
	background-color:#000;
}
.movember-wrap{
	height:120px;
	position: relative;
}
.movember-banner{
	margin-bottom:1em;
	.topstrip{
		background-color:#000;
		margin-top:1em;
		position: relative;
		img{
			width:120px;
			position: absolute;
			bottom: 0.5em;
			left:1em;
		}
	}
	.motext {
		font-family: Anton,sans-serif;
		color: #fff;
		font-size: 1.5em;
		padding: .5em 1em;
		text-align: right;
		display: block;
	}
	.bottomstrip{
		background-color:#000;
		margin-top:1em;
		overflow:auto;
		padding-top:.5em;
	}
	div.button{
		margin:.5em auto;
		text-align:center;
		a{
			background:#fff;
			border-radius:5px;
			display: block;
			color:#000;
			display: inline-block;
			padding: .8em;
		}
	}
	.nav{	
		display: flex;
		justify-content: space-evenly;
		a{
			color:#fff;
			font-family: Anton,sans-serif;
			text-align:center;
			font-size:1em;
			text-transform:uppercase;
			max-width:20%;
			&:first-child span{
				background-image:url('/wp-content/themes/wilkinson-sword/assets/Partnerschaft.png');
			}
			&:nth-child(2) span{
				background-image:url('/wp-content/themes/wilkinson-sword/assets/Movember@2x.png');
			}
			&:nth-child(3) span{
				background-image:url('/wp-content/themes/wilkinson-sword/assets/Maennergesundheit.png');
			}
			&:nth-child(4) span{
				background-image:url('/wp-content/themes/wilkinson-sword/assets/FAQ.png');
			}
			&:hover, &:active, &:focus{
				&:first-child span{
					background-image:url('/wp-content/themes/wilkinson-sword/assets/Partnerschaft-over.png');
				}
				&:nth-child(2) span{
					background-image:url('/wp-content/themes/wilkinson-sword/assets/Movember@2x-over.png');
				}
				&:nth-child(3) span{
					background-image:url('/wp-content/themes/wilkinson-sword/assets/Maennergesundheit-over.png');
				}
				&:nth-child(4) span{
					background-image:url('/wp-content/themes/wilkinson-sword/assets/FAQ-over.png');
				}
			}
			span{
				width: 100px;
				height: 100px;
				display: block;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				margin: 0 auto;
				max-width:100%;
			}

		}
	}
}


@media (min-width: 450px){
	.movember-wrap{
		height:300px;
	}
}
@media (min-width: 980px){
	.movember-wrap{
		height:480px;
	}
}
@media (max-width: 1499px){
	.movember-desktop-banner{
		display: none;
	}
}
@media (min-width: 1500px){
	.movember-mobile-banner{
		display: none;
	}
	.movember-desktop-banner{
		.topstrip{
			display: flex;
			align-items: center;
			img{
				width:20%;
			}
			.nav{
				display: inline-flex;
				width:40%;
			}
			.logo{
				width: 30%;
			}
		}
	}

	.movember-wrap .movember{
		background-size:auto 100%;
	}
	.de-de{
		&.single{
			.single-container .header-post.style-03 {
				height:300px;
				div.movember{
					background-size:auto 100%;
				}
			}
		}
	}
}
