.de-de{
	// &.blog{
		.banner-page{
			margin-bottom:0!important;
			display: flex!important;
		}
		.blog_filter.search-block{
		 margin-bottom:2em;
			.filter_bar{
				background:#000;
				color:#fff;
				padding: .5rem;
			    display: flex;
			    flex-direction: column;
			    align-items: center;
	    		@include respond-to(small){
					flex-direction: row;
					align-items: center;
			    	justify-content: center;
	    		}
			    h4{
			    	color:#fff;
			    	margin-bottom:.5em;
			    	font-size: 1.1rem;
			    	@include respond-to(small){
						margin-bottom:0;
			    	}
			    }
			    select{
			    	display: block;
				    font-size: 1rem;
				    color: #000;
				    line-height: 1.3;
				    padding: .6em 2.5em .5em .8em;
				    box-sizing: border-box;
				    margin: 0;
				    border:0;
				    background-image:url('/wp-content/themes/wilkinson-sword/assets/down_arrow.png');
				    background-repeat:no-repeat;
				    background-position: calc(100% - 10px);
				    -moz-appearance: none;
				    -webkit-appearance: none;
				    appearance: none;
				    background-color: #fff;
				    margin: 0 .5em;
			    }
			}
		    .search-fields{
		    	display: flex;
		    	justify-content: space-between;
		    	align-items: center;
		    	flex-direction:column;
		    	@include respond-to(small){
					flex-direction:row;
		    	}
		    	.search-input{
		    		margin:1em;
		    		order:1;
		    		width: 100%;
	    			display: flex;
	    			flex-grow: 1;
	    			.search-field{
						border:0;
		    			border-bottom: 1px solid black;
		    			flex-grow:1;
	    			}
		    		@include respond-to(small){
						order:2;
						flex-grow:0;
						width:initial;
		    		}
		    	}
		    	.cancel_filter{
		    		margin:.5em 1em;
		    		font-size: 1rem;
		    		order:2;
		    		@include respond-to(small){
						order:1;
		    		}
		    	}
		    }
		}


			// hero section
		.banner-page.has_background{
			height:auto;
			min-height:auto;
			margin-bottom: 0!important;
			overflow:hidden;
			.content-banner{
				padding:0;
				bottom:0;
				top:0;
				transform:translate(0);
				position: relative;
				width:100%;
				.container{
					display: flex;
			    	justify-content: flex-end;
			    	padding:0;
			    	@include respond-to(small){
						min-height:380px;
					}
					@include respond-to(medium){
						min-height:480px;
					}
				}
				.page-title{
					text-indent: -5000px;
			    	height: 0;
			    	margin: 0!important;
			    	img{
			    		margin:.5rem .5rem 2rem
			    	}
				}
				.title_intro{
					background:rgba(255,255,255,.8);
					width:100vw;
					color:#000;
					font-size: 1rem;
					@include line-height;
					// h1{
					// 	margin-top:56.25%;
					// 	margin-bottom: 0;
					// 	background:#fff;
					// 	padding: 15px;
					// 	text-align: left;
					// 	@include respond-to(small){
					// 		background:transparent;
					// 		margin:initial;

					// 	}
					// }
					h1{
						margin-top:56.25%;
						margin-bottom: 0;
						background:#fff;
						padding: 15px;
						text-align: left;
						@include male-font-bold;
						font-size: 1.6em;
						text-transform: uppercase;
						@include respond-to(small){
							background:transparent;
							margin:initial;
							background-color:transparent;
							font-size: 2em;
						}	
						@include respond-to(medium){
							font-size: 2.1em;
						}	
						@include respond-to(medium){
							font-size: 2.3em;
						}	
					}
					@include respond-to(small){
						justify-content: space-between;
	    				display: flex;
	    				flex-direction: column;	
						padding:.5rem;
						width:50vw;
						margin-right:5vw;
					}
					@include respond-to(medium){
						width:33vw;
						max-width:30em;
					}
					@include respond-to(large){
						margin-right:0;
					}




					img{
						padding:1rem .5rem 3rem;
						@include respond-to(small){
							padding: 0;
							margin: 1rem -20px 1rem -40px;
						    max-width: calc(100% + 60px);
						}
						@include respond-to(medium){
							margin:1rem -30px 1rem -50px;
						    max-width: calc(100% + 80px);
						}
					}
					.copy{
						padding:15px;
						background-color: #fff;
						text-align: left;
						@include respond-to(small){
							background-color: transparent;
						}
						@include respond-to(medium){
							font-size: 1.1rem;
						}
					}
				}
			}
		}
		// Female blogs
		.female {
				.main-content, .blog_filter{
				a{
					color:$fem-beige1;
					&:hover, &:active, &:focus{
						color:$fem-pink23;
					}
				}
				button{
					&:hover, &:active, &:focus{
						background-color:$fem-pink23;
					}
				}	
			}
			// Filter section
			.blog_filter.search-block .filter_bar {
				background:$fem-beige4;
				color: #000;
				h4{
					@include female-font;
					color:#000;
					font-size: 2.8em;
					margin-bottom:.2em;
					@include respond-to(small){
						margin-bottom:0;
					}
				}
			}
			.search-block .search-fields .search-input .search-field{
				border-bottom: 1px solid $fem-beige4;
			}
		} 
		.male{
			.main-content, .blog_filter{
				a{
					color:$mb-red;
					&:hover, &:active, &:focus{
						color:$mb-red-bright;
					}
				}
				button{
					&:hover, &:active, &:focus{
						background-color:$mb-red-bright;
					}
				}
			}
			.banner-page.has_background{
				height:auto;
				min-height:auto;
				&:after{
					@include yellowbar;
					background-color: $male-green;
					right:80px;
					left:initial;
					top:-6px;
					z-index:-1;
				}
				@include respond-to(small){
					&:before{
						@include yellowbar;
						background-color: $male-green;
						transform-origin: bottom;
						bottom: -10vw;
	    				top: -10vw;
	    				left:0;
	    				width:15vw;
					}
					&:after{
						width: 80vw;
					    right: 0;
					    transform-origin: bottom;
					    right: -44vw;
					    top: -16vw;
					    bottom: -7vw;
					}
				}
				@include respond-to(xlarge){
					&:after{
						// width: calc(33vw + (100vw - 1440px));
					 //    right: 0;
					 //    top: -10vw;
					 //    bottom: -10vw;
					}
				}
				.content-banner{
						.page-title{
							display:none;
						}
				}
				.title_intro{
					background-color:transparent;
					margin-right:0;
					h1{
						background-color:$male-green;
						color:#fff;
						@include male-font-bold;
						font-size: 1.6em;
						text-transform: uppercase;
						@include respond-to(small){
							background-color:transparent;
							font-size: 2em;
						}	
						@include respond-to(medium){
							font-size: 2.1em;
						}	
						@include respond-to(medium){
							font-size: 2.3em;
						}	
					}

				.copy{
						background-color:$male-green;
						color:#fff;
						@include respond-to(small){
							background-color:transparent;
							padding-left: 4em;
						}	
					}
				}
			}
			// Filter section
			.blog_filter.search-block .filter_bar {
				background:$mb-grey;
				color: #000;
				h4{
					@include male-font;
					color:#000;
					margin-bottom:.5em;
					@include respond-to(small){
						margin-bottom:0;
					}
				}
			}
			.search-block .search-fields .search-input .search-field{
				border-bottom: 1px solid #000;
			}
		}
	// }
}