

.brand-landing {
	.banner-page{
		background-attachment: scroll !important;
		min-height: 100px !important;
		margin: 0 0 15px 0 !important;
		background-size: 100% !important;
	}
  @media screen and (min-width:768px) {
		.banner-page{
			min-height: 350px !important;
		}
  }
  .page-title,
  .breadcrumbs {
    display: none;
  }

  .main-content {
    h1,
    .pre-header-for {
      text-align: center;
      color: $bl-blue;
    }

    .pre-header {
      color: $bl-grey;
      font-size: 15px;
      text-transform: uppercase;
    }

    .intro-para {
      background: $bl-blue;
      padding: 25px 10%;
      margin-top: 2em;
      margin-bottom: 2em;
      text-align: center;
      h3 {
        line-height: 1.4;
        color: $lightest;
        font-size: 18px;
        font-weight: 300;
      }
    }

    .roundels {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    @media screen and (max-width:40em) {
      .roundels .wpb_wrapper {
        max-width: 18em;
        margin: 0 auto;
        margin-bottom: 1em;
      }
    }

    @media screen and (min-width:768px) {
      .wpb_single_image img {
        max-height: 500px;
        width: auto;
        margin: 0 auto;
      }
    }

    .brand-logo {
      margin-bottom: 2rem;
    }

    .brand-logo .wpb_single_image .vc_figure {
      max-width: 500px;
    }

    .product .solid-bg {
      background: $darkest;
      padding: 2em;
    }

    @media screen and (min-width:768px) {
			.product .solid-bg {
			  background: $darkest;
			  padding: 2em;
			}
    }

    .solid-bg:after {
      // content: "";
      border: 3px solid $bl-pink;
      width: 100%;
      height: 100%;
      position: absolute;
      top: -8px;
      left: -8px;
    }
    // Callout banner at bottom of page
    .callout{
      &.product {
        border-radius: 0;
        border: 0;
        margin-top: 3em;
        z-index: 1;
        background: $bl-pink;
        padding: 2em;
        display: flex;
        align-items: center;
        h5 {
          color: $lightest;
        }
        &.men {
          background: $bl-light-purple;
          h5 {
            color: $darkest;
          }
        }
      }
      a.vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
        background-color: $darkest;
        color: $lightest;
        border-radius: 0;
        border: 0;
        margin-top: 3em;
        z-index: 1;
        float: right;
        margin: 0;
      }
    }

    .product.men .solid-bg:after {
      border-color: $bl-purple;
    }

    .product.women .solid-bg:after {
      border-color: $bl-pink;
    }

    .product .solid-bg p,
    .product .solid-bg h3 {
      color: $lightest;
    }

    .product .solid-bg p {
      font-size: 1.1em;
      line-height: 1.7;
    }

    .product .solid-bg .vc_btn3 {
      background-color: $bl-light-purple;
      color: $darkest;
      border-radius: 0;
      border: 0;
      margin-top: 3em;
      z-index: 1;
    }

    .product.men .solid-bg button {
      background-color: $bl-light-purple;
    }

    .product.women .solid-bg button {
      background-color: $bl-pink;
    }

    .vc_separator {
      margin: 3em 0 3em;
    }
		.women .intro-para{
		    background-color: $bl-pink;
		}
		.product.men .solid-bg .vc_btn3{
		    background-color: $bl-light-purple;
        &:hover, &:active{
          background-color: $bl-blue;
          color:$lightest;
        }
		}
		.product.women .solid-bg .vc_btn3{
		    background-color: $bl-pink;
		    color: $lightest;
        &:hover, &:active{
          color: $bl-blue;
          background-color: $lightest;
        }
		}
  }
}