nav.woocommerce-breadcrumb, .breadcrumb{
	color: $darkest;
	background:transparent;
	font-weight:700;
	font-size:14px;
	& > li + li::before{
		content:" / ";
		color:#1d1d1b;
	}
	a, li > a{
		color: $darkest;
		font-weight:300;

	}
	& > li.active, & > li.active:hover > span{
		color: $darkest;
	}

	margin: 0 0 30px 0;
}
//highly specific to counter specificity of lebe theme. 
.lebe-breadcrumb .breadcrumb > li.active{
	color: $darkest;
}
.page-template-fullwidth .breadcrumb{
	padding-left:0;
}


