.actions-btn a, .actions-btn a.shopping{
	&:hover, &:active{
		color:$lightest;
	}
	&.button{
		&:hover, &:active{
			background-color:$darkest;
		}
	}
}
[type=submit]{
	&:hover, &:active{
		background-color:$darkest;
	}
	&:disabled{
		background-color:$light;
	}
}
.container a.button{
	&:hover, &:active{
		color:$lightest;
	}
}
// Minicart
.header .minicart-content-inner .actions .button{
	&.button-viewcart, &.button-checkout{
		&:hover, &:active{
			background-color:$s1;
			color:$lightest;
		}
	}
}
/* reset button on variations */
.summary .reset_variations{
	color:#fff;
}
.summary .reset_variations:hover, .summary .reset_variations:focus, .summary .reset_variations:active{
	background: $darkest;
	color:$lightest;
}

header button.search-submit{
	@include pseudo-state(all){
		background-color:initial;
	}
}