.cart{
	.quantity{
		margin-bottom: 0;
	}
	.variation{
		dd{
			padding: 0;
			margin-left: 10px;
			font-weight: bold;
		}
		dt{
			clear: left;
			margin-left: 10px;
			display: none;
			font-weight: normal;
		}
		dd, dt{
			float: left;
			font-size: 90%;
			margin-top: 5px;
		}
	}
}
.woocommerce-cart,
.woocommerce-checkout{
	.order-total{
		border-top: 3px solid $s1;
		border-bottom: 3px solid $s1;
	}
	#payment_method_heading{
		font-weight: 600;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-bottom: 0;
		padding: 17px 30px 17px 0;
	}
	.woocommerce-checkout-review-order-wrap #order_review_heading{
		padding-top: 0 !important;
	}
	.kl_newsletter_checkbox_field .checkbox input[type=checkbox]{
		margin-left: 0;
		position: relative;
	}
	h2, .recurring-totals th{
		padding-top: 50px !important;
		font-weight: 600;
		font-size: 14px !important;
		line-height: 30px !important;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-bottom: 0;
	}
}

.estimated-delivery{
	margin-top: 10px;
	font-size: 16px;
	span{
		font-weight: bold;
	}
}

form.woocommerce-shipping-calculator{
	#calc_shipping_state_field, #calc_shipping_city_field, #calc_shipping_postcode_field{
		display: none !important;
	}
}
.wcppec-checkout-buttons{
	display: none;
}

.woocommerce-checkout-review-order-wrap,
.col2-set:not(.woocommerce-Addresses){
	padding: 30px;
}

.woocommerce-checkout.processing{
	opacity: 0.4
}
// --Removed style so that 'radio buttons display'
// .woocommerce-shipping-destination,
// .cart-collaterals .cart_totals .shop_table .shipping label::before{
// 	display: none !important; 
// }


@media (min-width: 1025px) {
	.woocommerce-checkout{
		.checkout-before-top > div:first-child{
			width: 58.33333333%;
			float: left;
			padding: 0 15px;
		}
		.checkout-before-top > div:nth-child(2){
			width: 41.66666667%;
			float: right;
			padding: 0 15px;
		}
	}
}