.archive.tax-product_cat{
	.bestseller-cat-products{
		display: none;
	}
	h3.term_name{
		font-size:2.3em;
		font-weight:800;
		text-align:center;
		margin:1em 0;
	}
	.term-description{
		font-size: 1.2em;
    	color: $p6;
    	font-weight:300;
    	margin-bottom:2em;
    	@include respond-to(medium){
			column-count:2;
    	}
	}
}
.categories-product-woo {
	display: none;
}

// Hide Filters
.part-filter-wrap{
	display: none !important;
}

// Hidden Product{}
li.post-7856{
	display: none !important;
}