.contact_box{
  &.chat{
    cursor: pointer;
  }
  .vc_column-inner{
    margin: 0 auto;
    width: 90%;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(196,196,196,1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(196,196,196,1);
    box-shadow: 0px 0px 9px 0px rgba(196,196,196,1);
    height: 250px;
    padding: 50px 0;
    p{
      padding: 0 20px;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width:768px){
  #wilke-form-holder {
    padding-top: 8em;
    margin-top: -8em;
  }
}