footer {
	background: #1b1c1e;
}
@media screen and (max-width:768px){
	.footer .vc_column_container + .vc_column_container{
		margin-top:1.5em;
	}
	.page-template-default .main-container {
    padding-bottom: 0;
	}
}