#comments{
	display: none;
}
// a:hover, a:focus, a:active{
// 	color: $hydrate;
// }

.mark, mark{
	background: none;
	font-weight: bold;
}
nav.woocommerce-breadcrumb{
  color: $lightest;
  font-weight: bold;
  a{
    color: $lightest;
    font-weight: 300;
  }
}
a.social{
  background: $s1 !important;
  color: $lightest !important;
}
.sidebar div.widget .widgettitle{
  background: none !important;
}
#twyla-widget-container{
  z-index: 4 !important;
  button{
    line-height: normal;
    text-transform: none;
  }
  @media (min-width: 476px) {
    .twyla-widget__App__chatWindow___G0sKV {
      height: calc(100% - 160px);
    }
  }
}

button.bv_button_buttonFull{
  height: auto;
  line-height: unset;
}
button, input[type="submit"]{
  background: $s1;
  &.dark{
    background:#000;
  }
}
.container{
  a{
    color:$s1;
    &:hover, &:active, &:focus{
      color:$p2;
    }
  }
}

/*adds banner to eyebrow shaper for free shipping. Could be adapted for us with other products*/

.en-gb .single-product .post-5809 .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:first-child:after, .en-gb .archive .post-5809 .woocommerce-product-gallery__image--placeholder:after{
  content:"Free shipping";
  color:$lightest;
  position:absolute;
  bottom:0;
  left:0;
  background:$bl-pink;
  right:0;
  font-size:1.3em;
  padding:.3em
}
.en-gb .archive .post-5809 .woocommerce-product-gallery__image--placeholder:after{
  width:100%;
  padding:0 .5em .1em;
  text-align:center;
}
@media screen and (max-width:768px){
  .en-gb .archive .post-5809 .woocommerce-product-gallery__image--placeholder:after{
    font-size:1em;
  }
  .en-gb .single-product .post-5809 .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:first-child:after{
    bottom:2em;

  }
}
@media screen and (min-width:1200px){
  .en-gb .archive .post-5809 .woocommerce-product-gallery__image--placeholder:after{
    max-width:300px;
  }

}
/*cannot find where to remove the free shipping banner so have hidden it*/
.en-gb .post-5809 .lebe-iconbox.style-01.free-shipping{
  display:none;
}
// Bullet style overrides
body:not(.single-product) .wpb_text_column ul li{
  margin-left:2em;
  padding-left:1em;
    &:before{
      display:none;
    }
     &:after{
      display:none;
    }
}
// cookie settings boxes
#optanon #optanon-popup-bottom-logo{
  &:after{
    color:#fff!important;
  }
  &:before{
    color:#fff!important;
  }
}
.optanon-alert-box-wrapper .banner-content .banner-policy-link {
    color: #fff!important;
}
// Woocommerce alert box 
.woocommerce-error .button, .woocommerce-info .button, .woocommerce-message .button{
  height:auto;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message{
  overflow:auto;
}
// Not sure where this is but apparently it's important... 
body.wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title > a {
    padding-left: 2em !important;
}
.home .wpb_content_element {
    p{
      font-size: 1.2em;
      color: #1d1d1b;
      font-weight: 300;
      max-width:72em;
      margin:0 auto;
    }
    h2{
      padding-top:1em;
      @include respond-to(medium){
        text-align:center;
      }
    }
}
.container {
  p{
    // line-height: 1.8;
    // font-size: 1.3em;
    // color: #1d1d1b;
    // font-weight: 300;
  }
  @for $index from 1 through 6 {
    h#{$index}:not(.block-title){
      margin:1.5em 0 1em 0;
    }
    h#{$index}:first-child{
      margin-top:0;
    }
  }
}
.de-de .page-main-content{
    @for $index from 1 through 6 {
    h#{$index}{
      hyphens:auto;
    }
  }
}
// Allows the addition of the overlay class to bakery items like banners to darken the image for impriving text contrast
.container .overlay figure a:after{
    content:"";
    position:absolute;
    display:block;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0,0,0,0.5);
}

// Hide for breakpoints
@media screen and (max-width:  479px ){
  .hide-for-xsmall-only,
  .show-for-small,
  .show-for-medium,
  .show-for-large,
  .show-for-xlarge{
    display: none;
  }
}
@media screen and ( min-width: 480px) and (max-width: 767px){
  .hide-for-small-only,
  .show-for-medium,
  .show-for-large,
  .show-for-xlarge{
    display: none;
  }
}
@media screen and ( min-width: 768px) and (max-width: 991px){
  .hide-for-medium-only,
  .show-for-large,
  .show-for-xlarge{
    display: none;
  }
}
@media screen and ( min-width: 992px) and (max-width: 1199px){
  .hide-for-large-only,  
  .show-for-xlarge{
    display: none;
  }
}
@media screen and ( min-width:480px){
  .hide-for-small{
    display: none;
  }
}
@media screen and ( min-width:  767px ){
  .hide-for-medium{
    display: none;
  }
}
@media screen and ( min-width:  992px ){
  .hide-for-large{
    display: none;
  }
}
@media screen and ( min-width: 1200px ){
  .hide-for-xlarge{
    display: none;
  }
}