#geoSwitcher{
	.modal-dialog{
		margin-top: 130px;
		.modal-content{
			background-image: url('../img/map.png');
			background-size: 100% auto;
			background-position: center center;
			background-repeat: no-repeat;
			padding-top: 30px;
			padding-bottom: 30px;
			.vc_column-inner{
				div.geo-current{
					margin: 10px auto;
					display: block;
				}
				button,
				a.btn{
					clear: both;
					margin: 5px auto;
					padding: 15px 35px;
					height: auto;
					background: $s1;
					&.btn-sm{
						padding: 5px 10px;
						background: $p6;
						display: block;
						text-transform: none;
					}
				}
			}
		}
	}
}
.modal-backdrop.fade.in{
	display: block !important;
}