div.switcher-flag.icon{
	margin-top: 15px;
}
.site-header{
	.header-topbar{
		display: none;
	}
	&.topbar-enabled{
		.header-topbar{
			display: block;
		}	
	}
}

header#header .search-icon{
	display: none !important;
}

.enable-header-mobile {
	#header .search-block{
		display: none;
	}
	.box-mobile-menu {
		input[type="search"]{
			width: 100%;
		}
		.search-results-container{
			top: calc(10%);
			background: white;
			z-index: 1000;
		}
		span.reset-instant-search{
			z-index: 1500;
			top: 68px;
		}
		.search-icon,
		.search-submit{
			display: none;
		}
		.search-results-croll{
			max-height: 420px;
		}
	}
}

.header-menu{
	.search-block{
		display: none;
	}
}

/*.minicart-list-items */
.header{
	.woocommerce-mini-cart__buttons{
		display: none;
	}
	.minicart-list-items {
		height: -webkit-calc(100vh - 223px);
		height: -moz-calc(100vh - 223px);
		height: calc(100vh - 223px);
	}
	.minicart-items{
		.product-name{
			width: calc(100% - 40px);
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.delivery-banner{
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		background: $p5;
	}
	&.site-header form.search-form input.search-field{
		text-align:left!important;
	}
	// Fix jittering issue in IE by removing bg colour transition
	.header-wrap .header-position{
	      -webkit-transition:background-color 0 ease 0s, padding 0.5s ease 0s;
	    -o-transition:background-color 0 ease 0s, padding 0.5s ease 0s;
	    transition:background-color 0 ease 0s, padding 0.5s ease 0s;
	}
}

// Hide the last two in the menu
.main-navigation #menu-main-menu > li:nth-last-child(-n+2) {
	display: none;
}

// Instant search drop down panel
.container-search .search-results-wrap {
	.product-item-search{
		padding:1em 30px;
		& > div{
			white-space:initial;
		}
		 + .product-item-search{
	    	border-top: 1px solid #ededed;
		}
	}
	.product-title a{
		line-height:1.5;
	}
}

@media screen and (max-width:1300px){
	.search-results-croll{
		right:0;
	}
}
@media screen and (max-width:1024px){
	.search-form.instant-search .search-input{
		display: flex;
		.search-field{
			flex-grow:1;
			height:auto;
		}
		.search-submit{
			width:54px;
		}
	}
	.header-wrap{
		display: block;
	}
	.header-wrap-stick{
		display: none
	}
}

.header-pos-relative div.banner-page.has_background {
    margin: 0 0;
}
.hero-banner-page{
	background-size:cover;
	height:180px;
	background-position:center;
	background-repeat: no-repeat;
	@include respond-to(small) {
		height:250px;
	}
	@include respond-to(medium) {
		height:300px;
	}
	@include respond-to(large) {
		height:380px;
	}
	@include respond-to(xlarge) {
		height:420px;
	}
}