
$hpt-width: 1200 / 3;
$hpt-height: 400; //amount of pixels height must be unitless
$hpt-angle: 10.89deg;
$hpt-gap: 10; //amount of pixels height must be unitless

$hpt-x: $hpt-height * math.tan($hpt-angle);

$htp-h: $hpt-gap / math.cos($hpt-angle);

$hpt-offset: $hpt-h - $hpt-x; //No need for if statements, if gap is smaller that h will return a -ve value

.homepage__tiles {
	height: $hpt-height * 1px;
}

//For IE compatibility we need to use skew
//skew is calculated from the midpoint of the height of the div

.test2 {
	height: $hpt-height * 1px;
	width: $hpt-width * 1px;
	overflow-x: hidden;
}

.test2>div {
	width: ($hpt-width + ($hpt-x / 2)) * 1px;
	height: $hpt-height * 1px;
	transform: skew(-$hpt-angle);
	margin-left: $hpt-x * -0.5px;
	overflow-x: hidden;
}

.test2>div>div {
	transform: skew($hpt-angle);
	width: 400px + ($hpt-x * 0.5px);
	height: $hpt-height;
	margin-left: $hpt-x * 0.5px;
}

.test2:hover, .test2:hover>div>div {
	width: calc(800px + 60px);
}

.test2:hover>div {
	width: calc(800px + 60px); 
}

.test2>div>div>div.top {
	width: calc(800px + 60px);
	height: 25%;
	background-color: #333;
}

.test2>div>div>div.content {
	width: 400px;
	height: 75%;
	margin-left: 400px;
	background-color: #333;
	transform: skew(-$hpt-angle);
}

.test2>div>div>div.content * {
	transform: skew($hpt-angle);
}

.test2>div>div>div.content p {
	margin: 0 1rem;
}

.test2>div>div>div.content a {
	display: inline-block;
}