
@media (max-width: 767px) {
	.homepagetiles__tile--male {
		width: 80%;
		margin: 20px auto;
	}

	.homepagetiles__tile--male>div {
		
	}

	.homepagetiles__tile--male>div>div {
		background-position: center top;
		background-size: auto 245px;
		background-repeat: no-repeat;
	}

	.homepagetiles__tile--male .top {
		background-color: rgba(51, 51, 51, .7);
		padding: 10px 0;
		margin-bottom: 170px;
	}

	.homepagetiles__tile--male .top * {
		text-transform: uppercase;
		margin: 0 auto;
		text-align: center;
		font-size: 40px;
		color: #fff;
	}

	.homepagetiles__tile--male .content {
		background-color: rgba(51, 51, 51, 1);
		padding: 20px;
		text-align: center;
	}
	.homepagetiles__tile--male .content p {
		margin: 0 auto 20px;
		color: #fff;
	}
	.homepagetiles__tile--male .content a {
		text-transform: uppercase;
		text-decoration: none;
		font-size: 24px;
	}
}

@media (min-width: 768px) {

.homepagetiles--male {
	position: relative;
	width: 100%;
	margin: 20px auto;
	height: 400px;
}

.homepagetiles__tile--male:first-child {
	top: 0;
	left: 0;
}
.homepagetiles__tile--male:nth-child(2n) {
	top: 0;
	left: calc(33vw - 35px);
	width: calc(33vw + 70px )
}

.homepagetiles__tile--male:last-child {
	top: 0;
	right: 0;
}

.homepagetiles__tile--male {
	position: absolute;
	height: 400px;
	width: calc(33vw + 0px);
	overflow-x: hidden;
}

.homepagetiles__tile--male>div {
	width: calc(33vw + 0px);
	height: 400px;
	transform: skew(-9.92deg);
	margin-left: -35px;
	overflow-x: hidden;
}

.homepagetiles__tile--male:nth-child(2n)>div {
	margin-left: 35px;
}

.homepagetiles__tile--male:last-child>div {
	margin-left: 0;
	margin-right: -35px;
	float: right;
}

.homepagetiles__tile--male>div>div {
	transform: skew(9.92deg);
	width: calc(33vw + 35px);
	height: 400px;
	margin-left: 35px;
	background-position: left center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.homepagetiles__tile--male:nth-child(2n)>div>div {
	margin-left: -35px;
	width: calc(33vw + 70px);
}

.homepagetiles__tile--male:nth-child(2n):hover>div {
	width: calc(66vw - 35px)
}

.homepagetiles__tile--male:nth-child(2n)>div>div>div.content {
	margin-left: calc(33vw + 35px);
}

.homepagetiles__tile--male:last-child>div>div {
	margin-left: 0;
	margin-right: 35px;
	float: right;
	width: 66vw;
	background-position: right center;
}

.homepagetiles__tile--male:last-child>div>div>div.top {
	float: left;

}

.homepagetiles__tile--male:last-child>div>div>div.content {
	float: left;
	margin-left: 25px;
}

.homepagetiles__tile--male:hover {
	z-index: 5;
}

.homepagetiles__tile--male, .homepagetiles__tile--male>div, .homepagetiles__tile--male>div>div, .homepagetiles__tile--male>div>div>div.top * {
	transition: width 0.3s ease;
}

.homepagetiles__tile--male:hover, .homepagetiles__tile--male:hover>div>div {
	width: calc(66vw + 35px);
}

.homepagetiles__tile--male:hover>div {
	width: calc(66vw + 35px); 
}

.homepagetiles__tile--male>div>div>div.top {
	width: calc(66vw + 35px);
	height: 25%;
	/*background-color: #333;*/
	background-image: linear-gradient(90deg, rgba(51, 51, 51, .7), rgba(51, 51, 51, .7) calc(100% - 25vw), rgb(51, 51, 51) calc(100% - 16vw));
	display: flex;
	align-items: center;
}

.homepagetiles__tile--male>div>div>div.top * {
	text-align: center;
	margin: 0;
	width: 50%;
	text-transform: uppercase;
	font-size: 4vw;
	color: #fff;
}

.homepagetiles__tile--male:hover>div>div>div.top * {
	width: 100%;
}

.homepagetiles__tile--male>div>div>div.content {
	width: 33vw;
	height: 75%;
	margin-left: 33vw;
	transform: skew(-9.92deg);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} /*1st -13px, 2nd +22px, 3rd*/

.homepagetiles__tile--male:first-child>div>div>div.content {
	background-image: linear-gradient(80.08deg, rgba(51, 51, 51, .7), rgba(51, 51, 51, .7) calc(100% - 25vw - 13px), rgb(51, 51, 51) calc(100% - 16vw - 13px));
}

.homepagetiles__tile--male:nth-child(2n)>div>div>div.content {
	background-image: linear-gradient(80.08deg, rgba(51, 51, 51, .7), rgba(51, 51, 51, .7) calc(100% - 25vw + 22px), rgb(51, 51, 51) calc(100% - 16vw + 22px));
	width: calc(33vw - 35px);
}
.homepagetiles__tile--male:nth-child(2n)>div>div>div.top * {
	margin-left: 51px;
}

.homepagetiles__tile--male:last-child>div>div>div.top {
	background-image: linear-gradient(90deg, rgb(51, 51, 51) 16vw, rgba(51, 51, 51, .7) 25vw, rgba(51, 51, 51, .7) );
}
.homepagetiles__tile--male:last-child>div>div>div.content {
	background-image: linear-gradient(80.08deg, rgb(51, 51, 51) 16vw, rgba(51, 51, 51, .7) 25vw, rgba(51, 51, 51, .7) );
}
.homepagetiles__tile--male:last-child>div>div>div.top * {
	margin: 0 0 0 auto;
}

.homepagetiles__tile--male>div>div>div.content * {
	transform: skew(9.92deg);
}

.homepagetiles__tile--male>div>div>div.content p {
	margin: auto 1rem;
	font-size: 2vw;
	color: #fff;
}

.homepagetiles__tile--male>div>div>div.content a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 1rem 1rem auto;
	font-size: 2.5vw;
}

}

@media (min-width: 1200px) {

.homepagetiles--male {
	width: 1200px;
}

.homepagetiles__tile--male:nth-child(2n) {
	left: 365px;
	width: calc(400px + 70px )
}

.homepagetiles__tile--male {
	height: 400px;
	width: calc(400px + 0px);
}

.homepagetiles__tile--male>div {
	width: calc(400px + 0px);
}

.homepagetiles__tile--male>div>div {
	width: calc(400px + 35px);
}

.homepagetiles__tile--male:nth-child(2n)>div>div {
	width: calc(400px + 70px);
}

.homepagetiles__tile--male:nth-child(2n):hover>div {
	width: calc(800px - 35px)
}

.homepagetiles__tile--male:nth-child(2n)>div>div>div.content {
	margin-left: 435px;
}

.homepagetiles__tile--male>div>div>div.content p {
	font-size: 18px;
}

.homepagetiles__tile--male:last-child>div>div {
	width: 800px;
}

.homepagetiles__tile--male:hover, .homepagetiles__tile--male:hover>div>div {
	width: calc(800px + 35px);
}

.homepagetiles__tile--male:hover>div {
	width: calc(800px + 35px); 
}

.homepagetiles__tile--male>div>div>div.top {
	width: calc(800px + 35px);
	background-image: linear-gradient(90deg, rgba(51, 51, 51, .7), rgba(51, 51, 51, .7) calc(100% - 300px), rgb(51, 51, 51) calc(100% - 200px));
}

.homepagetiles__tile--male>div>div>div.top * {
	font-size: 52px
}

.homepagetiles__tile--male>div>div>div.content {
	width: 400px;
	margin-left: 400px;
} /*1st -13px, 2nd +22px, 3rd*/

.homepagetiles__tile--male>div>div>div.content a {
	font-size: 24px;
}

.homepagetiles__tile--male:first-child>div>div>div.content {
	background-image: linear-gradient(80.08deg, rgba(51, 51, 51, .7), rgba(51, 51, 51, .7) calc(100% - 287px), rgb(51, 51, 51) calc(100% - 187px));
}

.homepagetiles__tile--male:nth-child(2n)>div>div>div.content {
	background-image: linear-gradient(80.08deg, rgba(51, 51, 51, .7), rgba(51, 51, 51, .7) calc(100% - 322px), rgb(51, 51, 51) calc(100% - 222px));
	width: 365px;
}

.homepagetiles__tile--male:last-child>div>div>div.top {
	background-image: linear-gradient(90deg, rgb(51, 51, 51) 200px, rgba(51, 51, 51, .7) 300px, rgba(51, 51, 51, .7) );
}
.homepagetiles__tile--male:last-child>div>div>div.content {
	background-image: linear-gradient(80.08deg, rgb(51, 51, 51) 200px, rgba(51, 51, 51, .7) 300px, rgba(51, 51, 51, .7) );
}

}

/*
--Female Homepage Tiles Styles
*/


.homepagetiles--female {
	width: 80%;
	margin: 1rem auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.homepagetiles__tile--female {
	position: relative;
}


.homepagetiles__tile--female > div > div {
	background-position: center;
	background-size: cover;
	background-repeat: none;
	border-radius: 50%
}


.homepagetiles__tile--female .top {
	position: absolute;
	bottom: -1rem;
	left: 50%;
}

.homepagetiles__tile--female .top * {
	display: inline-block;
	width: max-content;
	margin-left: -50%;
	text-align: center;
	font-size: 13vw;
	padding: 0 2rem;
	transform: rotate(-3deg);
	background-color: #000;
	color: #fff;
	font-family: ding_dongregular,'Open Sans',sans-serif;
}


.homepagetiles__tile--female:first-child > div:after {
	background-color: #4BA87D;
}

.homepagetiles__tile--female:nth-child(2n) > div:after {
	background-color: #8C8CD3;
}

.homepagetiles__tile--female:last-child > div:after {
	background-color: #E19497;
}

.homepagetiles__tile--female .content {
	color: #000;
	transition: opacity 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.homepagetiles__tile--female .content p {
	font-size: 1.2rem;
	margin: 0 auto 1rem;
}
  
.homepagetiles__tile--female .content a {
	text-transform: uppercase;
	border: 4px solid #000;
	padding: 0.5rem;
	color: #000;
	background-color: #fff;
	text-decoration: none;
	font-weight: 600;
	margin: 0 auto auto;
}

.homepagetiles__tile--female > div:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	opacity: 0.7;
}

@media (max-width: 768px) {

.homepagetiles__tile--female {
	margin-bottom: 160px;
}

.homepagetiles__tile--female > div {
	border-radius: 50%;
	margin: 3rem auto;
	width: calc(80vw - 3rem);
	max-width: calc(400px - 3rem);
	height: calc(80vw - 3rem);
	max-height: calc(400px - 3rem);
	position: relative;
}

.homepagetiles__tile--female > div:after {
	width: 32vw;
	max-width: 160px;
	height: 32vw;
	max-height: 160px;
	top: -8vw;
	right: -8vw;
}

.homepagetiles__tile--female > div > div {
	height: 100%;
}

.homepagetiles__tile--female .content {
	position: absolute;
	top: calc(80vw - 2rem);
}
}

@media (min-width: 500px) and (max-width: 768px) {

	.homepagetiles__tile--female .content {
		top: calc(400px - 2rem);
	}
	
	.homepagetiles__tile--female .top * {
		font-size: 62px;
	}
}

@media (min-width: 769px) {

.homepagetiles--female {
	max-height: 400px;
	max-width: 1200px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.homepagetiles__tile--female {
	width: 33.33vw;
}

.homepagetiles__tile--female:hover {
	transition-duration: 0.3s;
}
	
.homepagetiles__tile--female > div {
	border-radius: 50%;
	margin-right: 4.5rem;
	margin-top: 4vw;
	width: calc(33vw - 4vw);
	height: calc(33vw - 4vw);
	position: relative;
}

.homepagetiles__tile--female .content {
	background-color: #fff;
	position: absolute;
	z-index: -1;
	left: 0;
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.homepagetiles__tile--female .content p {
	width: 80%;
	margin: auto auto 4vw;
	font-size: 1.9vw;
}

.homepagetiles__tile--female .content a {
	font-size: 2vw;
}

.homepagetiles__tile--female > div > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.homepagetiles__tile--female > div > div {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.homepagetiles__tile--female .top {
	bottom: -2vw;
}

.homepagetiles__tile--female .top * {
	display: inline-block;
	margin-left: -50%;
	text-align: center;
	font-size: 6vw;
	padding: 0 2rem;
	transform: rotate(-3deg);
	background-color: #000;
	color: #fff;
}

.homepagetiles__tile--female .content {
	width: 37.33vw;
}

.homepagetiles__tile--female:last-child .content {
	width: 33.33vw;
}

.homepagetiles__tile--female:hover > div > div {
	z-index: 4;
}

.homepagetiles__tile--female > div:after {
	width: 13vw;
	height: 13vw;
	top: -4vw;
	right: -4vw;
}

.homepagetiles__tile--female:hover > div:after {
	z-index: 5;
}

.homepagetiles__tile--female:hover .content {
	z-index: 2;
	left: 29.33vw;
	top: -4vw;
	height: calc( 100% + 5.5vw );
	opacity: 1;
}

.homepagetiles__tile--female:last-child:hover .content {
	left: -33.33vw;
}

.homepagetiles__tile--female:hover .top {
	z-index: 3;
}
} /* end of 768px media query  */

@media (min-width: 1200px) {
	
.homepagetiles__tile--female > div {
	border-radius: 50%;
	margin-right: 4.5rem;
	margin-top: 3rem;
	width: calc(400px - 3rem);
	height: calc(400px - 3rem);
	position: relative;
}

.homepagetiles__tile--female:last-child {
	margin-right: 0;
}

.homepagetiles__tile--female > div:after {
	width: 10rem;
	height: 10rem;
	top: -2.5rem;
	right: -2.5rem;
}

.homepagetiles__tile--female .content p {
	width: 90%;
	margin: auto auto 3rem;
	font-size: 24px;
}

.homepagetiles__tile--female .content a {
	border: 5px solid #000;
	font-size: 24px;
}
  
.homepagetiles__tile--female .top {
	position: absolute;
	bottom: -2rem;
	left: 50%;
}

.homepagetiles__tile--female .top * {
	font-size: 85px;
	padding: 0 2rem;
	height: 80px;
}

.homepagetiles__tile--female:hover .content {
	left: 424px;
	top: -3rem;
	height: calc( 100% + 5rem );
	width: 400px;
}

.homepagetiles__tile--female:last-child:hover .content {
	left: -424px;
	width: 424px;
}
} /* end of 1200px media query */