.embed-responsive{
	height:initial;
	width:100%;
}
.embed-responsive:before{
	content:"";
}
.embed-responsive-16by9:before {
    padding-top: 56.25%;
}
.embed-responsive-21by9{
	padding-bottom:42.5%;
}
.embed-responsive-21by9::before{
	padding-top: 42.857143%;
}
.embed-responsive-4by3::before {
    padding-top: 75%;
}
.embed-responsive-1by1::before {
    padding-top: 100%;
}
.page-template-landing-page, .page-template-tmpl-about {
	.banner-page{
		background-size:cover!important;
		margin:0!important;
	}
	// h1.page-title{
	// 	text-indent:-4000px;
	// }
	.main-content {
		.lebe-banner{
			margin-bottom:2em;
			margin-top:1em;
			position: relative;	
			.bigtitle{
				margin:0;
			}
		}
		.vc_sep_line{
			margin:2em 0;
		}
		.container-fluid{
			@media (max-width: 767px){
				padding-right:10px;
				padding-left:10px;
			}
		}
		h1{
			font-weight:500;
			font-size: 2.3em;
			.subheading{
				display: block;
				margin-bottom:10px;
			}
			.main_heading{
				font-weight: 800;
    			text-transform: uppercase;
				color:#000;
				font-size:2rem;
			}
			color:$mb-blue;
		}
		h3{
			font-size: 2.1em;
			@include respond-to(medium){
				font-size: 2.3em;
			}
		}
		h2{
			font-weight:600;
		}
		.intro{
			text-align:center;
			font-size:1.2em;
			margin-bottom:1em;
			margin-top:2em;
			img{
				margin:1em 0;
				max-width:100%;
				max-height:150px;
				@include respond-to(medium){
					max-width:400px;
				}
			}
			h2{
				font-weight:800;
				text-transform:uppercase;
			}
			p{
				font-weight: 300;
				font-size: 1.2em;
			}
		}
		strong{
			font-weight: 600;
		}
		p, li{
			font-size: 1.1rem;
			color:$darkest;
		}
		.product_panel{
			border:10px solid $darkest;
			border-width:10px 0;
			padding:2em 0;
			margin:2em 0;
			text-align:left!important;
			> h3{
				padding:1em 0;
			}
			li{
				margin-bottom:1.5em!important;
				h3{
					font-size:24px;
				}
			}
		}
		.panel{
			overflow:hidden;
			border:initial;
			display: flex;
			flex-direction:column;
			min-height:15em;
			box-shadow:initial;
			margin-bottom:0;
			border-radius:0;
			justify-content:center;
			clear:left;
			&:not(.content-panel){
				background:$light;
			}
			@include respond-to(medium) {
				flex-direction:row;
			}
			@include respond-to(small) {
				// min-height:20em;
			}
			a.button{
				font-weight: 700;
				font-size: 1.5em;
				margin: 1.5em 0;
		    	display: block;
		    	transition:0.5s ease;
		    	line-height:1.4;
		    	// color:$mb-red;
		    	@include pseudo-state(all){
		    		color:#000;
		    	}
		    	@include pseudo-state(all){
					color:$s1;
		    	}
				&:after{
					content:" > ";
				}
				&:hover,&:active,&:focus{
					filter: brightness(55%);
				}
			}

			.image-full{
				background-size:cover;
				background-repeat: no-repeat;
				background-position: center;
				min-height:15em;
			}
			.image{
				padding:0;
				padding: 0;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center;
			    height:20em;
			    @include respond-to(medium) {
					height:initial;
				}
			}
			.copy{
				align-self:center;
				padding:1.5em 0.5em;
				ul{
					display: inline-block;
					text-align:left;
				}
				@include respond-to(small){
					padding:1.5em 2.5em;
				}
			}
			&.embed-panel{
				background: transparent;
				flex-direction:column;
				align-items:center;
				form{
					margin:0 auto;
					.button{
						text-align:center;
					}
				}
				.copy{
					text-align:left;
					display: block;
				}
				*{
					text-align:left;
				}
			}
			&.detail-panel{
				background:$lightest;
				// border-top:12px solid;
				padding-top:1em;
				padding-bottom:1em;
				margin-top:1em;
				// min-height: 460px;
				.pseudo-triangle{
					border-color:transparent transparent #fff transparent;
					&.left{
					border-color:transparent transparent transparent #fff;
					}
				}
				img.landing_logo{
					height:auto;
					width:100%;
					max-width:200px;
					margin-bottom:1.2em;
				}
				.copy{
					text-align:left !important;
				}

			}
			&.video-panel{
				flex-direction:column;
				background:#fff;
				margin-bottom:1em;
				@include respond-to(medium){
					margin-bottom:1em;
				}
				.video-copy p, .video-copy h5{
					font-weight:400;
					text-align:center;
				}
			}

			&.content-panel{
				flex-direction:column;
				margin-top: 3em;
				h3{
					text-align: center;
				}
				div.copy{
					font-weight:300;
					display: block;
					@include respond-to( medium ){
						column-count:2;
					}
					.copy_container{
						max-width: 48em;
					}
				}
			}
			&.feature-panel{
				.copy_container{
					@include respond-to(medium){
						max-width:42em;	
					}
				}
    		}
    		+ .video-panel{
    			margin-top:1em;
    		}
			h1,h3, h4{
		    	font-weight: 800;
		    	line-height:1.4;
			}
		}
		// Female version
		.female{
			h1{
				color:$bl-pink;
			}
			.pseudo-triangle{
				display: none!important;
			}
			.panel{
				background-color:transparent;
				margin:1em;
				&.content-panel{
					margin-top:2em;
				}
				@include respond-to(medium) {
					flex-direction:column;
				}
				@include respond-to(large) {
					flex-direction: row;
					justify-content: space-between;
				}
				&.content-panel{
					flex-direction:column;
				}
			}
			.lp_panels > :nth-child(even){
				background-color:#fff;
				.image{
					@include respond-to(medium) {
						order:initial;
					}
					@include respond-to(large) {
						order:2;
					}
				}
			}
			
			// .detail-panel{
			// 	border:0;
			// }
			.image{
				width:400px;
				height:400px;
				align-self:center;
				flex-shrink:0;
				@include respond-to(medium) {
					width:500px;
					height:500px;
				}
				@include respond-to(xlarge) {
					width:600px;
					height:600px;
				}
			}
		}
		// Subscription settings
		.subscription{
			// border-top:10px solid $darkest;
			margin-top:15px;
			@include respond-to(large){
				margin-top:2em;
			}
			.intro{
				margin-top:0;
			}
			.lp_panels{
				border-bottom:0;
				counter-reset: compact-panel-counter;
				.copy{
					display: flex;
					text-align:left;
				}
				.panel{
					.image{
						@include respond-to(medium){
							min-height:23em;
						}
						@media print, screen and (min-width:767px) and (max-width:1200px){
							min-height: auto !important; 
						}
					}
					.subs_number:before{
						margin-top:.1em;
						margin-right:0.4em;
						color:$darker;
						font-size: 5em;
					    font-weight: 900;
					    float: left;
						content: counter(compact-panel-counter);
						counter-increment: compact-panel-counter;
					}
				}
				.product_panel{
					.flash-wrap span.onsale{
						font-size: 18px;
					}
					.product-thumb .promo_banner{
						font-size: 1.15rem;
					}
				}
			}
			button.question{
				@include respond-to(medium){
					float:right;	
				}
			}
			.product_panel > h3{
				@include respond-to(medium){
					float: left;
				}
			}
			.container{
				@include respond-to(medium-only){
					width: 100%;
				}
			}
			&.female-subs {
				.panel{
					&:not(.content-panel){
						// background-color:$fem-beige3;
						.pseudo-triangle{
							// border-color: transparent transparent $fem-beige3 transparent;
						}
					}
					.subs_number:before{
						color:$fem-beige1;
					}
				}
				.product_panel{
					border: 10px solid #f2b2b1;
					border-width: 10px 0;
					.promo_banner{
						background-color:$fem-beige1!important;
					}
				} 
				.lp_panels > :nth-child(even){
					background-color:#fff;
					.pseudo-triangle{
						border-color: transparent transparent transparent #fff;
					}
				}
			}
		}
		// About us timeline
		.timeline{
			.container{
				@media only screen and (max-width: 1199px) and (min-width: 768px){
					width:initial;
				}
			}
			h1{
				color:#000;
				// margin-bottom:80px;
				// margin-bottom:115px;
				margin-bottom:0;

				font-size:1.8rem;
				@include respond-to(small){
					// padding-left:100px;
					font-size:2.3rem;
				}
				@include respond-to(medium){
					padding:0;
					// margin-bottom:120px;
				}
				@include respond-to(large){
					// margin-bottom:2.5em;
				}
			}
			.trackwrap{
				position: relative;
				padding-right:0;
				clear:left;
				img.tracklogo{
					position: absolute;
					width:120px;
					transform: translate(-16px,-129%);
					@include respond-to(medium){
						width: 160px;

					}
					@include respond-to(xlarge){
						transform: translate(-80px,-108%);

					}
					@media only screen and (max-width: 1500px) and (min-width: 1200px){
						transform: translate(-32px,-108%);
					}
				}
			}
			.track{
				position: absolute;
				top:0;
				bottom:0;
				width:6px;
				background:url('/wp-content/themes/wilkinson-sword/assets/time-track.gif') repeat-y;
			}
			.quick_nav{
						margin-bottom:115px;
						overflow:auto;
						margin-top:1rem;
						@include respond-to(medium){
							margin-bottom:120px;
						}
						@include respond-to(large){
							margin-bottom:2.5em;
						}
						.copy{
							display: flex;
							flex-direction:column;
							 padding:0;
						}
						ul{
							list-style-type: none;
							li{
								    display: inline-flex;
								    margin-bottom:0.5rem;
								h4{
									padding:0.8rem 1rem 0.8rem 0;
									float:left;
									margin:0;
									font-weight:600;
								}
								a{
									background-color:#8e93ba;
									color:#fff;
									padding: .3rem 0.8rem;
									// padding:0.8rem 1rem;
									border-radius:21px;
									font-size:1rem;
									float:left;
									@include respond-to(medium){
										padding:0.5rem 1rem;
										font-size:1.1rem;
										margin:0 0.2rem;
									}
									&:hover, &:active, &:focus{
										background-color:#5C1068!important;
									}
								}
							}
						}
					}
			.lp_panels{
				padding-left:1rem;
				border-bottom:0;
				.panel{
					position: relative;
					overflow: visible;
					.bookmark{
						display: block;
						position: absolute;
					    height: 0;
					    top:0;
						@media screen and(min-width:1025px){

						    top: -8rem;
						    width: 20px;
						    z-index: 200;	
						}
					}
					.image{
						overflow:hidden;
					}
					.title{
						 font-weight: 300;
						 font-size: 1.6rem;
						 @include respond-to(medium){
							font-size: 2.3rem;
						 }

						 @include respond-to(large){
							font-size: 2.5rem;
						 }
					}
					p{
						 font-size: 1rem;
						 line-height:1.6;
						 @include respond-to(small){
							font-size: 1.1rem;
							line-height:1.8;
						 }
					}
					.year_marker{
						background-color: #8e93ba;
					    width: 4rem;
					    height: 4rem;
					    border-radius: 50%;
					    display: flex;
					    align-items: center;
					    justify-content: center;
					    position: absolute;
					    // left: -2.8rem;
					    z-index: 1;
					    top: 3rem;
					    color: #fff;
					    font-size: 1.2rem;
					    font-weight: 600;
					    border: 2px solid #fff;
					    transition: all 2s ease;
					    transform: translate(-60%);
					    left:0;
					    @include respond-to(medium){
							top:10rem;
							// width: 5rem;
    			// 			height: 5rem;
    						// left: -3.3rem;
    						// font-size: 1.5rem;
					    }
					    @include respond-to(xlarge){
							align-self:center;
							top:initial;
							width: 6rem;
    						height: 6rem;
    						// left: -4rem;
    						font-size: 1.6rem;
					    }
					}
					.copy{
						.copy_container{
							max-width:50em;
							text-align:left;
							@include respond-to(large){
								padding-top:3em;
								padding-bottom:3em;
							}
							img{
								max-height:23rem;
								width:auto;
							}
						}
					}
					&.content-panel{
							background:#F5F5F5;
							padding: 1.5em 28px;
							margin:0;
						    @include respond-to(small){
						    	padding: 1.5em 0;
						    }
						.year_marker{
							height: initial;
						    text-align: center;
						    padding-top: 1em;
						    padding-bottom: 1em;
						    border-radius: 2rem;
						    @include respond-to(small){
								border-radius: 3rem;
						    }
						    @include respond-to(small){
								top:10rem;
						    }
						}
						.copy{
							column-count:initial;
							display: flex;
							flex-direction:column;
						    max-width: 48rem;
						    align-items:center;
						    padding-top:0;
						    div{
								display: flex;
							    align-items: center;
							    flex-wrap:wrap;
							    @media screen and (max-width:50rem){
									justify-content:center;
							    }
							    &+ div{
								    border-top: 3px solid #dbdbdb;
								}
								p{
									flex-basis:20rem;
								    font-weight:initial!important;
								    @media screen and (max-width:50rem){
										 flex-basis:120em;
								    }
								}
								&:nth-child(even) p{
									order:1;
									 @media screen and (max-width:50rem){
										order:initial;
									 }
									&:first-child{
										order:2;
										@media screen and (max-width:50rem){
											order:initial;
									 	}
									}
								}
								img{
									width:initial!important;
		    						float:none!important;
		    						margin-left:auto;
									margin-right:auto;
		    						@media screen and (max-width:50rem){
										margin:0 auto!important;
		    						}
								}
							}
						}
						p{
							margin-top:1.5em;
							margin-bottom:1.5em;
							@include respond-to(small){
								&:nth-child(even){
									img{
										float: left;
									}
								}
							}
						}
						img{
							margin:1em;
							display: block;
							@include respond-to(small){
								width:30%;
								float: right;
								&:nth-child(even){
									float: right;
								}
							}
							@include respond-to(medium){
								width:40%;
							}
						}
					}
					&.noimage{
						padding: 1.5em 28px;
					    @include respond-to(small){
					    	padding: 1.5em 0;
					    }
						.image{
							display: none;
						}
						.copy{
							display: flex;
    						flex-direction: row;
							justify-content:center;
						}
					}
				}

			}
		}
		// Odds and evens
		.lp_panels{
			border-bottom:1px solid $light;
			padding-bottom:2em;
			margin-bottom:2em;
			}
		.lp_panels > :nth-child(odd){
			// .image{
			// 	order:2;
			// 	@include respond-to(medium) {
			// 		order:initial;
			// 	}
			// }
	    	.detail-panel{
				.pseudo-triangle{
					border-color:transparent transparent #fff transparent;
				}
			}
			.copy, .copy p{
				text-align:left;
			}
		}
		.lp_panels > :nth-child(even){
			background-color:#fff;

			.image{
				@include respond-to(medium) {
					order:2;
				}
			}
			@include respond-to(medium) {
				text-align:right;
			}
			.copy{
				@include respond-to(medium) {
					justify-content:flex-end;
					display: flex;
					flex-direction:row;
				}
				.copy_container{
					// display: inline-flex;
					// flex-direction:column;
				}
			}
			.pseudo-triangle{
				border-width: 1300px 0 0 200px;
				border-color: transparent transparent transparent #fff;
	    		left: 0;
	    	}
	    	&.detail-panel{
	    		.pseudo-triangle{
					border-color:transparent transparent transparent  #fff
				}
	    	}
	    	&.content-panel{
	    		.copy{
	    			text-align:left;
	    		}
	    	}
		}
	}
	.subs_crumbs ul{
		margin:0;
	}
	.pseudo-triangle{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 1300px 250px;
		border-color: transparent transparent $light transparent;
		content: '';
	    position: absolute;
	    top: 0;
	    right:0;
	    display: none;
	    &.left{
			border-width: 1000px 0 0 200px;
			border-color: transparent transparent transparent $light;
	    	left: 0;
	    }
    	@include respond-to( medium ){
			display: block;
		}
	}
}
