// Generic female masterbrand styles. Note that the layout needs optimising for the small breakpoint. The image is too large. LL
.thumb{
    position: relative;
    text-align:center;
    .pseudo-background-img-container {
        position: relative;
        width: 80%;
        padding-top: 80%;
        border-radius: 50%;
        overflow: hidden;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: initial;
            transition: all .3s linear 0s;
        }
        @include respond-to(xsmall-only) {
           margin: 0 auto;
        }
    }
    &:after {
        content: "";
        width: 30%;
        padding-bottom: 30%;
        border-radius: 50%;
        background-color: #f6d6d7;
        position: absolute;
        top: 0;
        transform: translate(25%,-25%);
        mix-blend-mode: multiply;
        @include respond-to(xsmall-only) {
            right: 0;
            transform: translate( 0, -25%);
          }
    }
}
.female {
    .panel-header{
    // @include female-font;
    // font-size:2em;
    // margin-top:-1em;
    // @include respond-to(small){
    //     margin-top:0;
    // }
    // span{
    //     background: #000;
    //     color: #fff;
    //     display: block;
    //     width: fit-content;
    //     width: -moz-fit-content;
    //     padding: 0 6px;
    //     &:first-child {
    //         margin-bottom: 2px;
    //         margin-right: 1em;
    //     }
    //     &:nth-child(2) {
    //         margin-left: 1em;
    //     }
    // }
    }
}
.button.blog{
    span{
        border: 2px solid #000;
        padding: .3em 0.8em;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        color: #000;
        transition: .5s ease;
        display: inline-block;
        @include respond-to(medium){
          font-size:1.3rem;
        }
    }
    &:hover{
        filter: brightness(100%)!important;
      span{
        background:#000;
        color:#fff;
      }
    }
    &:after{
        content:none!important;
    }
 }

// Specific to female masterbrand landing page
.female.masterbrand{
    .banner-page{
        // display: none;
    }
    // hero section styles
    #header .logo_style{
        .landing_logo{
            max-width:65vw;
        }
        .title_intro{
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-bottom:2em;
        }
        .copy{
            max-width: 65em;
            text-align: center;
            font-size: 1.2em;
            color: black;
            @include line-height;
            @include respond-to(medium){
                font-size: 1.4em;
            }
            @include respond-to(large){
                font-size: 1.8em;
            }
        }
    }
    .subheading{
        @include accessible-hide;
    }
    .landing_logo{
        // Sorry about the importants, it all needs rewriting. LL
        // max-width: 600px!important;
        // width: 100%!important;
        // height: auto;
        // max-height: initial!important;
        // margin: 0!important;
    }
    a.panel_header{
        @include female-font;
        font-size:2em;
        margin-top:-1em;
        color:black;
        @include respond-to(small){
            margin-top:0;
        }
        &:hover, &:active, &:focus{
            color: $fem-pink23;
        }
    }
    .panel{
        padding:1em;
        margin:0!important;
        @include respond-to(medium) {
            flex-direction: row;
            justify-content: space-between;
        }
        &.detail-panel{
            position: relative;
            @include respond-to(small) {
                flex-direction: row;
                justify-content: space-between;
            }
            .bg-color{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity:0.25;
            }
            .bgcolor-canceller{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: white;
                opacity: 0.75;
            }
            .thumb{
                width: 100%;
                margin: 4em auto 1em;
                @include respond-to(medium){
                    max-width:550px;
                }
                &:before{
                    content:"";
                    background:#fff;
                }
                &:after{
                    background-color:inherit;
                }
            }
            .female .button.blog{
                &:after{
                    content:none;
                }
            }
        }
        &:nth-child(odd){
            .bg-color{
                display: none;
            }
            .bgcolor-canceller{
                opacity:1;
            }
        }
        .panel_header{
            @include respond-to(large){
                margin-top:0;
            }
        }
    }
    .logo_style{
        .panel{
            &:nth-child(odd){
                .bg-color{
                    display: initial;
                }
                .bgcolor-canceller{
                    opacity:0.75
                }
            }
             &:nth-child(even){
                .bg-color{
                    display: none;
                }
                .bgcolor-canceller{
                    opacity:1;
                }
            }
        }
    }
}

