/// Mixin to manage responsive breakpoints
/// @author Hugo Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
$breakpoints: (
	'xsmall-only':  ( max-width:  479px ),
	'small-only': 	( min-width: 480px) and (max-width: 767px),
	'medium-only': 	( min-width: 768px) and (max-width: 991px),
	'large-only': 	( min-width: 992px) and (max-width: 1199px),
	'small': 		    ( min-width:480px),
  'medium':  		  ( min-width:  767px ),
  'large': 		    ( min-width:  992px ),
  'xlarge': 		  ( min-width: 1200px )
) !default;
/// Mixin to manage responsive breakpoints
/// @author Hugo Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
	@if $breakpoint == retina {
    	@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
        only screen and ( min--moz-device-pixel-ratio: 1.25),
        only screen and ( -o-min-device-pixel-ratio: 1.25/1),
        only screen and ( min-device-pixel-ratio: 1.25),
        only screen and ( min-resolution: 200dpi),
        only screen and ( min-resolution: 1.25dppx) { @content; }
  	}
  // If the key exists in the map
  @elseif map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
// Add pseudo states
@mixin pseudo-state($state){
	@if $state == all {
		&:hover, &:active, &:focus{
			@content;
		}
	} 
	@else {
		&:#{$state}{
			@content;
		}
	}
}
@mixin line-height{
  line-height: calc(2px + 2.3ex + 2px);
}
@mixin female-font{
    font-family: ding_dongregular;
    text-transform: none;
    font-weight: 100;
    line-height: 1.2;
}
@mixin female-font{
    font-family: 'ding_dongregular', 'Open Sans',sans-serif;
    text-transform: none;
    font-weight: 100;
    line-height: 1.2;
}
@mixin male-font{
    font-family: 'gothambook', 'Open Sans', sans-serif;
}
@mixin male-font-bold{
    font-family: 'gothambold', 'Open Sans', sans-serif;
}
@mixin accessible-hide{
  text-indent: -5000px;
  height: 0;
  margin: 0!important;
}
// @if map-has-key($breakpoints, $breakpoint) {
//     @each $breakpoint in $breakpoints {
//     @media print, screen and #{inspect(map-get($breakpoints, $breakpoint))} {
//       .hide-for-#{$breakpoint} {
//         display: none;
//       }
//     }
//   }
// }
// @each $size in $sizes {
//   .icon-#{$size} {
//     font-size: $size;
//     height: $size;
//     width: $size;
//   }
// }