//bootstrap modal
.modal{
    @include respond-to(medium){
        top:50%;
        -webkit-transform:translate(0,-50%);
            -ms-transform:translate(0,-50%);
                transform:translate(0,-50%);
    }
    .ws-modal-content{
        background:#fff;
        padding-left:1.5rem;
        padding-right:1.5rem;
        padding:2.5em 1.5em 1.5rem;
        button.close{
            border: 0;
            z-index: 10;
            position: absolute;
            right: 1em;
            top: 1em;
            span{
                font-size: 2rem;
                color:000;
            }
        }
        .fa-question-circle{
            float: left;
            font-size: 2rem;

        }
        h3{
            margin-bottom:1em;
        }
    }
}
.fa-question-circle{
    font-size: 1.5rem;
    color: #000;
    margin-right: .8rem;
    vertical-align: middle;
}
button.question{
    background: $lighter;
    border:1px solid #000;
    color:#000;
    margin-bottom:1em;
}

.wpb_text_column ul.inline-bullets{
	padding:1em 0;
	background:#ebebeb;
	margin-left:-15px;
	margin-right:-15px;
}
.wpb_text_column ul.inline-bullets li{
    display: block;
    text-align: center;
    list-style-type: none;
    color: #333;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 32%;
    @include respond-to(medium) {
        display: inline-block;
    }
}
.wpb_text_column ul.inline-bullets li + li{
	    border-left: 1px solid #333;
}
.wpb_text_column ul.inline-bullets li svg{
	font-size: 1.5em;
    vertical-align: middle;
	margin-right: .3em;
}
.wpb_text_column ul.inline-bullets li:before, .wpb_text_column ul.inline-bullets li:after{
	display:none;
}
// info box
#popup-size-guide .modal-inner {
    padding-top: 0em;
}
#popup-size-guide{
  top:30%;
}
.size-guide-inner{
    li span{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1rem;
                white-space: nowrap;
            }
}
.wpb_text_column ul li.icon{
    padding-top:0;
    padding-bottom:0;

    + li{
        border-left:0;
    }
    span:before{
        content: "";
        display: inline-block;
        width: 5em;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 5em;
        vertical-align: middle;
        margin-right: .8em;
    }
    &.package span:before{
        background-image:url('/wp-content/themes/wilkinson-sword/assets/package_icon.png');
    }
    &.calendar span:before{
        background-image:url('/wp-content/themes/wilkinson-sword/assets/calendar_icon.png');
    }
    &.contract span:before{
        background-image:url('/wp-content/themes/wilkinson-sword/assets/contract_icon.png');
    }
    @include respond-to(retina) {
        &.package span:before{
            background-image:url('/wp-content/themes/wilkinson-sword/assets/package_icon@2x.png');
        }
        &.calenda span:before{
            background-image:url('/wp-content/themes/wilkinson-sword/assets/calendar_icon@2x.png');
        }
        &.contract span:before{
            background-image:url('/wp-content/themes/wilkinson-sword/assets/contract_icon@2x.png');
        }
    }
}
