.woocommerce-table--order-details{
	img.thankyou-thumb{
		width: 50px;
		margin: 25px;
	}
	.product-quantity{
		vertical-align: middle;
	}
}
.woocommerce-account-fields{
	overflow: visible;
}
.actions .coupon .button{
	width:200px;
}