/* Cookie page policy group styles */

#optanon-cookie-policy {
	.optanon-cookie-policy-cookies-used, .optanon-cookie-policy-group-cookies-list {
		display: none;
	}
	h2 {
		font-size: 20px;
	}
	.optanon-cookie-policy-subgroup-table {
		ul {
			list-style: none;
			li {
				margin-left: none;
			}
		}
	}
}