// Free Shipping Message
.lebe-iconbox.style-01.free-shipping {
	margin: 10px 0;
	display: block;
	width: 100%;
	float: left;
	.iconbox-inner{
		padding: 10px;
		clear: left;
	}
	.desc{
		color: $p6;
	}
}

// Show a bar under the image for certain tags
.single-product .woocommerce-product-gallery__image:first-child:after,
.archive .woocommerce-product-gallery__image--placeholder:after{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 1.3em;
	padding: .3em;
	text-align: center;
	z-index: 1000;
}

.single-product-mobile #ratings-summary{
	padding-left: 20px !important;
}

//promo banner styles
// .single-product .product_tag-free-razor .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:first-child:after,
// .archive .product_tag-free-razor .woocommerce-product-gallery__image--placeholder:after{
// 	content: "Free Razor";
// 	color: $lightest;
// 	background: $s1;
// }
// .single-product .product_tag-save50classic .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:first-child:after,
// .archive .product_tag-save50classic .woocommerce-product-gallery__image--placeholder:after{
// 	content: "Save 50% - Code: Classic50";
// 	color: $lightest;
// 	background: $s1;
// }


/*cannot find where to remove the free shipping banner so have hidden it*/
.post-5809 .lebe-iconbox.style-01.free-shipping{
	display:none;
}
.woocommerce-product-gallery, .product-thumb  {
	.promo_banner{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.3em;
    padding: .3em;
    text-align: center;
    z-index: 1000;
    color: #fff;
	}
}

// Font size adjustments for promo banner on mobile sizes
@include respond-to(xsmall-only){
	.woocommerce-product-gallery, .product-thumb  {
		.promo_banner{
			font-size: 4vw;
			line-height: 1.3;
			padding: 0.4em 0.3em;
		}
	}
}

.product-thumb .promo_banner {
    max-width: 300px;
}
/* reset button on variations */
.summary {
	.reset_variations{
		width: auto; /* makes the reset variations button adapt size to the text contained within */
		color:#fff;
		&:hover, &:active, &:focus{
			background: #1d1d1b;
			color:#fff;
		}
	}
	// Override flex layout which cuts off long german words. 
	tr.variation{
		display: table;
	}
}

[data-bv-show=inline_rating] .bv_main_container{
	margin-top: 10px !important;
}

.summary .woocommerce-product-details__short-description{
	border: 0;
}

span.size-guide-text{
	background: none;
	padding-left: 0;
}

// Navigation
.product-toolbar-wrap nav{
	display: none;
}

.sharethis-inline-share-buttons{
	clear: left;
}

.single-product-mobile{
	.lebe-single-container{
		background: $lightest;
	}
	.product-type-simple{
		.add-to-cart-scroll{
			display: inline-block!important;
			float: left;
			height: 31px;
			line-height: 32px;
			margin: 15px 15px 20px;
		}
	}
	.bv_main_container{
		padding: 0 15px;
	}
	#BVRRSummaryContainer{
		padding: 15px;
	}
	.product-mobile-layout{
		// Change Product Page View
		.wcsatt-dash{
			clear: both;
			display: block !important;
			height: 5px;
			color: white;
		}
		.toggle-variations-select-mobile{
			display: none !important;
		}
		.wcsatt-options-wrapper{
			margin-top: 0 !important;
		}
		.subs-dropdown{
			float: left;
			margin-bottom: 20px;
			-webkit-appearance: menulist !important;
			/*webkit browsers */
			-moz-appearance: menulist !important;
			/*Firefox */
			appearance: menulist !important;
		}
		.woocommerce-variation-price{
			select{
				float: left;
				-webkit-appearance: menulist !important;
				/*webkit browsers */
				-moz-appearance: menulist !important;
				/*Firefox */
				appearance: menulist !important;
			}
			.price{
				padding-left: 0 !important;
				margin-bottom: 0 !important;
				margin-top: 20px;
			}
		}
		.woocommerce-variation-add-to-cart{ 
			display: inline-block !important;
			button{
				width: 100% !important;
			}
		}
	}
}

// Subscription and pricing info
.summary{
	p.stock.in-stock{
		padding: 0 !important;
	}
		// Stripe
		#wc-stripe-payment-request-wrapper,
		#wc-stripe-payment-request-button-separator{
			display: none !important;
		}
		// Reviews
		.star-rating{
			display: none;
		}
		a.change-value.color.active::before,
		a.change-value.color:hover{
			border-width: 4px;
			border-color: $p2;
		}
		table.variations{
			margin: 10px 0;
			// padding: 10px;
			border-top: 3px solid $s2;
			tr.variation{
				padding-bottom: 5px;
				&:first-child{
					padding-top: 30px;
				}
				.data-val.attribute-pa_color{
					margin-top: 0px;
				}
				td{
					min-width: 0;
				}
			}
		}
		.reset_variations{
			background: $p1;
		}
		.cart{
			.single_add_to_cart_button{
				margin: 15px 0 !important; 
			}
			.woocommerce-variation-add-to-cart-disabled .single_add_to_cart_button{
				opacity: 0.2;
			}
			.quantity{
				display: none !important;
			}
		}
		// Pills
		.attribute-pa_size > a.change-value,
		a.change-value{
			height: 36px !important;
			line-height: 32px !important;
			padding: 0 20px !important;
			border-radius: 15px !important;
			border-width: 2px !important;
			margin-top: 5px !important;
			width: auto !important;
			-webkit-box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.12);
			-moz-box-shadow:    3px 3px 4px 0px rgba(50, 50, 50, 0.12);
			box-shadow:         3px 3px 4px 0px rgba(50, 50, 50, 0.12);
		// Pills
		&.color{
			padding: 18px !important;
			margin-top: 0 !important;
			border-radius: 36px !important;
		}
		&:hover,
		&.active{
			background: $darkest;
			border-color: $darkest;
			color: $lightest;
			&[data-value="energize"]{
				background: $s4 !important;
				border-color: $s4 !important;
				color: $darkest;
			}
			&[data-value="hydrate"]{
				background: $bl-light-blue !important;
				border-color: $bl-light-blue !important;
			}
			&[data-value="sensitive"]{
				background: $s5 !important;
				border-color: $s5 !important;
			}
		}
	}
	// Cart Button
	.cart .single_add_to_cart_button:hover{
		background: $p1;
	}
	.price{
		font-size: 20px;
		color: $p6;
		margin-bottom: 30px;
		&.subscription-price{
			del{
				display: none;
			}
		}
		.wcsatt-dash{
			display: none;
		}
		.wcsatt-sub-options, 
		.wcsatt-sub-discount{
			font-size: 16px;
		}
	}
	.wcsatt-options-wrapper{
		h3{
			font-size: 17px;
		}
		.subscription-option-details{
			.woocommerce-Price-amount.amount,
			.subscription-details{
				font-size: 15px;
			}
		}
	}
}
.has-deals form.cart .single_add_to_cart_button, .has-deals form.cart .woocommerce-variation-add-to-cart{
	display:block!important;
}

/* Hide from price on pdp's, only applies to variable products */

.single-product .product-type-variable .price {

	display: none;

}

.single-product .product-type-variable .woocommerce-variation-price .price, .single-product .owl-item .price {

	display: inline;

}