@mixin yellowbar{
    content: "";
    width: 40px;
    background-color: #ffc900;
    // height: 125%;
    transform: rotate(-17deg);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    mix-blend-mode: multiply;
    transform-origin: top;
}
.pageWrapper{
	min-height:100vh;
	display: flex;
    flex-direction: column;
}
.page-template-tmpl-regional-select{
	h2{
		background:#fff;
		font-size: 1.4rem;
		padding: .6em 1em;
		text-align: center;
		margin:0;
		font-weight:bold;
		@include respond-to(medium){
			text-align:right;
			width:50vw;
		}
	}
	header{
		display: flex;
		flex-direction :column;
		.logowrap{
			display: flex;
			align-items:center;
			flex-direction:column;
			img{
				max-height:70px;
				width:auto;
				@include respond-to(medium){
				    min-height: 100px;
    				margin-left: 2rem;
				}
			}	
		}
		h2{
			display: none;
			@include respond-to(medium){
				display: block;
				text-align:right;
				font-size: 2rem;
			}
			@include respond-to(large){
				font-size: 3rem;
			}
		}
		@include respond-to(medium){
			flex-direction:row;
			justify-content:space-between;
			align-items:center;
		}	
	}

	.site-main{
		background-color: #d8d8d9;
		overflow: hidden;
		h2, h3{
			font-family:'Gothambold',arial, sans-serif;
			text-transform:uppercase;
		}
		.graphic{
			position: relative;
			height: 33vh;
			min-height:300px;
			overflow:hidden;
			background:#000;
			background-image:url('/wp-content/themes/wilkinson-sword/assets/international_landing_mobile.jpg');
		    background-size: cover;
		    background-repeat: no-repeat;
		    background-position: top center;
			&:after{
				@include yellowbar();
				    top: -5px;
    				bottom: -20px;
				@include respond-to(medium){
					content:none;
				}
			}
			h3.strapline{
				position: absolute;
				bottom:1rem;
				left:1rem;
				color:#fff;
				text-align: center;
    			width: calc(100% - 2rem);
    			z-index:2;
    			font-size: 1.8rem;
    			text-align: center;
    			@include respond-to(medium){
					bottom: 6rem;
				    left: 2rem;
				    text-align: left;
				    padding-right: 2em;
    				font-size: 2.3rem;
    				max-width:30rem;
    			}
    			@include respond-to(large){
    				font-size: 3rem;
    			}
			}
		}
		.modal {
			.modal-dialog{
				overflow:hidden;
				.ws-modal-content{
					min-height:calc(100vh - 20px);
					button.close{
						color:black;
						width:auto;
						border-radius:0;
						height:initial;
						span{
							font-size: 1.3rem;
							svg{
								margin-left:0.5rem;
								font-size: 2rem;
								vertical-align: middle;
							}
						}
					}
					&:after{
						@include yellowbar();
						top:-15%;
						@include respond-to(medium){
							left:25%;
						}
					}
					.modal-body{
						h2{
							text-align: left;
							font-size: 2rem;
							width:auto;
							padding-left:0;
							@include respond-to(medium){
								font-size: 2.4rem;
							}
						}
						.maincontent, .contact_details{
							color: #000;
						    font-size: 1rem;
						    line-height: 1.5;
						    @include respond-to(medium){
						    	font-size: 1.2rem;
						    }
						 }
						.maincontent{
						    @include respond-to(medium){
						    	display: flex;
						    	flex-wrap:wrap;
						    	div{
						    		flex: 1 1 35em;
						    	}
						    }
						    ul{
						    	display: block;
								li{
									margin: .5em 0;
									line-height:1.5;
								}
						    }
							a{
								color:$mb-red;
								&:hover, &:active, &:focus{
									color:$mb-yellow;
								}
							}
						}
						.contact_details{
							border:1px solid #000;
							padding:1em;
							font-style:normal;
							@include respond-to(medium){
								margin: 1em;
    							flex: 1 1 20em;
    							h3{
    								font-size: 1.6rem;
    							}
							}
						}
					}
				}
			}
			@include respond-to(medium){
				top:30px;
				left:30px;
				right:30px;
				bottom:30px;
				transform:none;
				.modal-dialog{
					width:auto;
					margin:0;
				}
			}
		}
		ul{
			list-style-type: none;
			display: flex;
		    flex-flow: column wrap;
		    align-content: center;
		    list-style: none;
		    margin: 0;
		    padding: 2em 1em;
			li{
				margin: 0 1em 0 0;
			    line-height: 1.2;
			    align-self: flex-start;
				a{
					font-family:'Gotham',arial, sans-serif;
					font-size: 1.1rem;
					line-height:2.3;
					transition: initial;
					// &:before{
					// 	content:"";
					// 	background-image:url('/wp-content/themes/wilkinson-sword/assets/flags_sprite_greyscale.png');
					// 	width:60px;
					// 	height:44px;
					// 	display: inline-block;
					// 	background-position:-55px -34px;
					// }
					img{
						width: 2em;
    					vertical-align: middle;
    					margin-right: 0.5em;
    					-webkit-filter: grayscale(1);
    					filter: grayscale(1);
    					// &.active{
    					// 	display: none;
    					// }
					}
					&:hover, &:active, &:focus{
						img{
							-webkit-filter:none;
    						filter:none;
							// &.active{
							// 	display: inline-block;
							// }
							// &.inactive{
							// 	display: none;
							// }
						}
					}
				}
			}
		}
		@include respond-to(medium){
			display: flex;
			flex:1 2 auto;
			.main-content{
				display: flex;
				align-items:stretch;
				flex:1 2 auto;
				.graphic, .locations{
					width:50vw;
					background-color:transparent;
					img{
						height:auto;
					}
				}
				.graphic{
					height:initial;
					background-image:url('/wp-content/themes/wilkinson-sword/assets/international_landing_DT.jpg');
					background-position: bottom right;
    				min-height: 700px;
				}
				.locations {
					position: relative;
					text-align:center;
					// overflow:hidden;
					&:before{
						@include yellowbar();
						transform-origin:bottom;
						// top: -12rem;
    		// 			left: -10px;
					    bottom: -10px;
					    left: -20px;
					    top: -500px;
					}

					h2{
						display: none;
					}
					ul{
						display: flex;
					    height: calc(100% - 4rem);
					    flex-direction: row;
					    align-content: space-around;
						li{
							text-align: left;
							text-align: left;
    						display: flex;
    						width: calc(50% - 2rem);
							a{
								font-size: 1.3rem;
							}
						}
					}
				}
			}
		}
	}
	.greyscale{
		-webkit-filter: grayscale(1);
    	filter: grayscale(1);
	}
	.mobile-footer-nav{
		position: fixed;
		bottom:0;
		width:100%;
		left:0;
		padding-top:.5rem;
		background:#000;
		flex-flow: column;
    	display: flex;
		@include respond-to (medium){
			position: absolute;
		    background-color:transparent;
		    right: 0;
		    left: initial;
		    display: inline-block;
		    right: 3rem;
		    bottom: 3rem;
		    width: auto;
		}
		a.button{
			background:#000;
			border:1px solid $light;
			color:$light;
			margin:1rem auto;
			padding:.8em 1em;
			cursor:pointer;
			font-size: 1rem;
			@include respond-to (medium){
				background:transparent;
		    	border:2px solid black;
		    	color:black;
			}
			&:hover, &:active, &:focus{
				background: $mb-yellow;
				border-color: $mb-yellow;
				color:#000;
				@include respond-to (medium){
					// background:black;
					// border:2px solid black;
				}
			}
		}
	}
			footer{
			background:#000;
			padding-bottom:6rem;
			background:#fff;
			p{
				text-align:center;
			}
			@include respond-to(medium){
				position: absolute;
			    bottom: 0;
			    left: 1rem;
			    background: transparent;
			    padding: 1rem;
			    p{
			    	color:#fff;
			    }
			}
		}
}