$p1: #d1232a;
$p2: #19204a;
$p3: #621461;
$p4: #b65420;
$p5: #005550;
$p6: #1d1d1b;

$s1: #991030;
$s2: #283583;
$s3: #5d524d;
$s4: #ffc900;
$s5: #3fa537;

// Brand colours: 
$bl-grey: #6D7278;
$bl-blue: #0B225D;
$bl-light-purple: #cbcce0;
$bl-purple: #a8abe2;
$bl-pink: #D21E6F;
$bl-light-blue:#026db6;

// Master brand colours
$mb-blue: #00095C;
$mb-green:#00643C;
$mb-black: #000000;
$mb-red: #8F003D;
$mb-yellow: #FFC900;
$mb-red-bright: #EB0F37;
$mb-grey: #EDEDED;
$male-green: #005751;
$mb-purple: #5C1068;

// Female brand colours
$fem-green1 : #238D7C;
$fem-green2 : #B9DFCD;
$fem-green3 : #B9E9D8;

$fem-pink23 : #F36DA0;
$fem-pink22 : #F6D4E6;
$fem-beige1 : #A53E55;
$fem-beige2 : #F2B2B1;
$fem-beige3 : #F3DED2;
$fem-beige4 : #F6D6D7;
$fem-purple4 : #D3D3E8;
$fem-green4 : #B9DFCD;
$female-dark:#d11e6f;//Deprecated, replaced by $bl-pink

$hydrate: #026db6; //Deprecated, replaced by $bl-pink

$ws_red: #8f003d; //This has been deprecated as $s1 is the correct ws brand colour

$lightest: #ffffff;
$lighter: #e7ebf0;
$light: #dbdbdb;
$darkest: #1d1d1b;
$darker:#545454;

// Fonts 
$female-font : "ding_dongregular", sans-serif;
.theme-ws-ok{
  --fa-secondary-opacity: 1.0;
  --fa-primary-color: white;
  --fa-secondary-color: #3fa537;
}
.theme-ws-warning{
  --fa-secondary-opacity: 1.0;
  --fa-primary-color: #1d1d1b;
  --fa-secondary-color: #ffc900;
}
.theme-ws-error{
  --fa-secondary-opacity: 1.0;
  --fa-primary-color: white;
  --fa-secondary-color: #991030;
}
.theme-ws-p3{
  --fa-secondary-opacity: 1.0;
  --fa-primary-color: white;
  --fa-secondary-color: #621461;
}


.accent-p1{ color: $p1; }
.background-p1{ background-color: $p1; }
.border-p1{ border-color: $p1; }

.accent-p2{ color: $p2; }
.background-p2{ background-color: $p2; }
.border-p2{ border-color: $p2; }

.accent-p3{ color: $p3; }
.background-p3{ background-color: $p3; }
.border-p3{ border-color: $p3; }

.accent-p4{ color: $p4; }
.background-p4{ background-color: $p4; }
.border-p4{ border-color: $p4; }

.accent-p5{ color: $p5; }
.background-p5{ background-color: $p5; }
.border-p5{ border-color: $p5; }

.accent-p6{ color: $p6; }
.background-p6{ background-color: $p6; }
.border-p6{ border-color: $p6; }


.accent-s1{ color: $s1; }
.background-s1{ background-color: $s1; }
.border-s1{ border-color: $s1; }

.accent-s2{ color: $s2; }
.background-s2{ background-color: $s2; }
.border-s2{ border-color: $s2; }

.accent-s3{ color: $s3; }
.background-s3{ background-color: $s3; }
.border-s3{ border-color: $s3; }

.accent-s4{ color: $s4; }
.background-s4{ background-color: $s4; }
.border-s4{ border-color: $s4; }

.accent-s5{ color: $s5; }
.background-s5{ background-color: $s5; }
.border-s5{ border-color: $s5; }
