// Gravity forms
.main-content .gform_wrapper{
	width:100%;
	max-width:50rem;
	.gfield_radio li label{
		margin: 10px 0 0 10px;
	}
	form{
   		border: 1px solid #b4bbb9;
   		padding:20px 15px;
   		li{
			font-size:1rem;
   		}
	}
	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
		padding-left:.5em;
		padding-right:.5em;
		height:38px;
		border: 1px solid #b4bbb9;
	}
	select{
		height:38px;
		border: 1px solid #b4bbb9;
		border-radius:0;
	}
	.ginput_container.ginput_container_consent {
		label{
			font-weight:400;
			font-size:1rem;
			margin-left:.5em;
			display: inline;
		}
		span.gfield_required{
			display: inline;
		}
	}
	input[type=submit]{
		height:auto;
		padding:1rem;
		line-height:1;
	}
}
// Klaviyo for overrides
.page-template-landing-page .main-content .panel.embed-panel .klaviyo-form label{
	font-family:'Open Sans', sans-serif;
}
//Henry Nock Landing page
.embed-panel { //whatever the page class is
  .klaviyo-form.klaviyo-form form {
    max-width: 50rem;
    margin: 1em auto 2em;
    
  }
}
.embed-panel { //whatever the page class is
  .klaviyo-form.klaviyo-form-LYMR5n form {
  div:first-child>div:first-child>div:first-child {
      flex: 1 0 0px;
    }
    div:first-child>div:first-child>div {
      flex: 2 1 0px;
    }
    .lavDQS.lavDQS.lavDQS {
      margin-right: 0;
      top: 0px;
    }
    .jKwdtv.jKwdtv.jKwdtv {
      flex: none;
    }
    .gYcAAY.gYcAAY.gYcAAY {
      flex: none;
    }
    
  }
}
// Date picker in gravity forms
#ui-datepicker-div .ui-datepicker-title select{
	border:0;
	color:#fff;
}
// Generic forms
// Class to be added manually to allow for half width fields
form .inline-field{
	@media (min-width: 641px){
	    width: 50%;
	    display: inline-block;
	}
}