.box-mobile-menu{
	.main-menu{
		.menu-item{
			> a{
				font-size: 16px;
				> a{
					font-size: 1em;	
				}
			}

		}
		.vc_row li.menu-item > a{
			font-size: 1rem;
			padding: .8em 0;
		}
	}
}
.enable-header-mobile .box-mobile-menu input[type=search]{
	font-size: 16px; 
}
