@import 'mixins';
@import 'variables';
@import 'generic';
@import 'top-level';
@import 'en-gb';



/* Header */
@import 'header';

/* PDP */
@import 'product-page';

/* breadcrumb */
@import 'breadcrumb';

/* Brand Landing */
@import 'brand-page';

/* About Us */
@import 'about';

/* Blokini */
@import 'blokini';

/* Cats */
@import 'categories';

/* Cart */
@import 'cart';

/* Account */
@import 'account';

/* Blog */
@import 'blog';

/* Contact */
@import 'contact';

/* sitemap */
@import 'sitemap';

/* 404 */
@import '404';

/* Order */
@import 'order';

/* icons */
@import 'icons';

/* geolocation */
@import 'geolocation';

/* footer */
@import 'footer';

/* Privacy page */
@import 'privacy';

/* Buttons */
@import 'buttons';

/* Modals */
@import 'modals';

/* Landing pages */
@import 'landing-pages';

/* Navigation */
@import 'navigation';

/* Forms */
@import 'forms';

/* Fonts */
@import 'fonts';

/* Regional select or splash page */
@import 'regional_select';

/* Blog landing / archive pages */
@import 'blog_landing';

/* Blog panels */
@import 'blog_panels';

/* Masterbrand styled landing pages */
@import 'landing_masterbrand';

/* Homepage Tiles */
@import 'homepage-tiles';

body{
	color: $p6;
}

/* Generic */
// Messages
.woocommerce-error, .woocommerce-info, .woocommerce-message{
	border-top-color: $p2;
}