.theme-ws-ok {
  --fa-secondary-opacity: 1.0;
  --fa-primary-color: white;
  --fa-secondary-color: #3fa537; }

.theme-ws-warning {
  --fa-secondary-opacity: 1.0;
  --fa-primary-color: #1d1d1b;
  --fa-secondary-color: #ffc900; }

.theme-ws-error {
  --fa-secondary-opacity: 1.0;
  --fa-primary-color: white;
  --fa-secondary-color: #991030; }

.theme-ws-p3 {
  --fa-secondary-opacity: 1.0;
  --fa-primary-color: white;
  --fa-secondary-color: #621461; }

.accent-p1 {
  color: #d1232a; }

.background-p1 {
  background-color: #d1232a; }

.border-p1 {
  border-color: #d1232a; }

.accent-p2 {
  color: #19204a; }

.background-p2 {
  background-color: #19204a; }

.border-p2 {
  border-color: #19204a; }

.accent-p3 {
  color: #621461; }

.background-p3 {
  background-color: #621461; }

.border-p3 {
  border-color: #621461; }

.accent-p4 {
  color: #b65420; }

.background-p4 {
  background-color: #b65420; }

.border-p4 {
  border-color: #b65420; }

.accent-p5 {
  color: #005550; }

.background-p5 {
  background-color: #005550; }

.border-p5 {
  border-color: #005550; }

.accent-p6 {
  color: #1d1d1b; }

.background-p6 {
  background-color: #1d1d1b; }

.border-p6 {
  border-color: #1d1d1b; }

.accent-s1 {
  color: #991030; }

.background-s1 {
  background-color: #991030; }

.border-s1 {
  border-color: #991030; }

.accent-s2 {
  color: #283583; }

.background-s2 {
  background-color: #283583; }

.border-s2 {
  border-color: #283583; }

.accent-s3 {
  color: #5d524d; }

.background-s3 {
  background-color: #5d524d; }

.border-s3 {
  border-color: #5d524d; }

.accent-s4 {
  color: #ffc900; }

.background-s4 {
  background-color: #ffc900; }

.border-s4 {
  border-color: #ffc900; }

.accent-s5 {
  color: #3fa537; }

.background-s5 {
  background-color: #3fa537; }

.border-s5 {
  border-color: #3fa537; }

#comments {
  display: none; }

.mark, mark {
  background: none;
  font-weight: bold; }

nav.woocommerce-breadcrumb {
  color: #ffffff;
  font-weight: bold; }
  nav.woocommerce-breadcrumb a {
    color: #ffffff;
    font-weight: 300; }

a.social {
  background: #8f003d !important;
  color: #ffffff !important; }

.sidebar div.widget .widgettitle {
  background: none !important; }

#twyla-widget-container {
  z-index: 2 !important; }
  #twyla-widget-container button {
    line-height: normal;
    text-transform: none; }

button.bv_button_buttonFull {
  height: auto;
  line-height: unset; }

button, input[type="submit"] {
  background: #8f003d; }

body.top-level .header-main-inner {
  display: none; }

/* Header */
div.switcher-flag.icon {
  margin-top: 15px; }

.site-header .header-topbar {
  display: none; }
.site-header.topbar-enabled .header-topbar {
  display: block; }

.lebe-is-real-mobile .search-block {
  display: none !important; }

/*.minicart-list-items */
.header .woocommerce-mini-cart__buttons {
  display: none; }
.header .minicart-list-items {
  height: -webkit-calc(100vh - 223px);
  height: -moz-calc(100vh - 223px);
  height: calc(100vh - 223px); }
.header .minicart-items .product-name {
  width: calc(100% - 40px);
  overflow: hidden;
  text-overflow: ellipsis; }
.header .delivery-banner {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  background: #005550; }

/* PDP */
.lebe-iconbox.style-01.free-shipping {
  margin: 10px 0;
  display: block;
  width: 100%;
  float: left; }
  .lebe-iconbox.style-01.free-shipping .iconbox-inner {
    padding: 10px;
    clear: left; }
  .lebe-iconbox.style-01.free-shipping .desc {
    color: #1d1d1b; }

[data-bv-show=inline_rating] .bv_main_container {
  margin-top: 10px !important; }

.summary .woocommerce-product-details__short-description {
  border: 0; }

span.size-guide-text {
  background: none;
  padding-left: 0; }

.product-toolbar-wrap nav {
  display: none; }

.sharethis-inline-share-buttons {
  clear: left; }

.single-product-mobile .lebe-single-container {
  background: #ffffff; }
.single-product-mobile .add-to-cart-scroll {
  display: inline-block !important;
  float: left;
  height: 31px;
  line-height: 32px;
  margin: 15px 15px 20px; }
.single-product-mobile #BVRRSummaryContainer {
  padding: 15px; }
.single-product-mobile .product-mobile-layout .wcsatt-dash {
  clear: both;
  display: block !important;
  height: 5px;
  color: white; }
.single-product-mobile .product-mobile-layout .toggle-variations-select-mobile {
  display: none !important; }
.single-product-mobile .product-mobile-layout .wcsatt-options-wrapper {
  margin-top: 0 !important; }
.single-product-mobile .product-mobile-layout .subs-dropdown {
  float: left;
  margin-bottom: 20px;
  -webkit-appearance: menulist !important;
  /*webkit browsers */
  -moz-appearance: menulist !important;
  /*Firefox */
  appearance: menulist !important; }
.single-product-mobile .product-mobile-layout .woocommerce-variation-price select {
  float: left;
  -webkit-appearance: menulist !important;
  /*webkit browsers */
  -moz-appearance: menulist !important;
  /*Firefox */
  appearance: menulist !important; }
.single-product-mobile .product-mobile-layout .woocommerce-variation-price .price {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 20px; }
.single-product-mobile .product-mobile-layout .woocommerce-variation-add-to-cart {
  display: inline-block !important; }
  .single-product-mobile .product-mobile-layout .woocommerce-variation-add-to-cart button {
    width: 100% !important; }

.summary p.stock.in-stock {
  padding: 0 !important; }
.summary #wc-stripe-payment-request-wrapper,
.summary #wc-stripe-payment-request-button-separator {
  display: none !important; }
.summary .star-rating {
  display: none; }
.summary a.change-value.color.active::before,
.summary a.change-value.color:hover {
  border-width: 4px;
  border-color: #19204a; }
.summary table.variations {
  margin: 10px 0;
  border-top: 3px solid #283583; }
  .summary table.variations tr.variation {
    padding-bottom: 5px; }
    .summary table.variations tr.variation:first-child {
      padding-top: 30px; }
    .summary table.variations tr.variation .data-val.attribute-pa_color {
      margin-top: 0px; }
    .summary table.variations tr.variation td {
      min-width: 0; }
.summary .reset_variations {
  background: #d1232a; }
.summary .cart .single_add_to_cart_button {
  margin: 15px 0 !important; }
.summary .cart .woocommerce-variation-add-to-cart-disabled .single_add_to_cart_button {
  opacity: 0.2; }
.summary .cart .quantity {
  display: none !important; }
.summary .attribute-pa_size > a.change-value,
.summary a.change-value {
  height: 36px !important;
  line-height: 32px !important;
  padding: 0 20px !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  margin-top: 5px !important;
  width: auto !important;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.12);
  -moz-box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.12);
  box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.12); }
  .summary .attribute-pa_size > a.change-value.color,
  .summary a.change-value.color {
    padding: 18px !important;
    margin-top: 0 !important;
    border-radius: 36px !important; }
  .summary .attribute-pa_size > a.change-value:hover, .summary .attribute-pa_size > a.change-value.active,
  .summary a.change-value:hover,
  .summary a.change-value.active {
    background: #1d1d1b;
    border-color: #1d1d1b;
    color: #ffffff; }
    .summary .attribute-pa_size > a.change-value:hover[data-value="energize"], .summary .attribute-pa_size > a.change-value.active[data-value="energize"],
    .summary a.change-value:hover[data-value="energize"],
    .summary a.change-value.active[data-value="energize"] {
      background: #ffc900 !important;
      border-color: #ffc900 !important;
      color: #1d1d1b; }
    .summary .attribute-pa_size > a.change-value:hover[data-value="hydrate"], .summary .attribute-pa_size > a.change-value.active[data-value="hydrate"],
    .summary a.change-value:hover[data-value="hydrate"],
    .summary a.change-value.active[data-value="hydrate"] {
      background: #026db6 !important;
      border-color: #026db6 !important; }
    .summary .attribute-pa_size > a.change-value:hover[data-value="sensitive"], .summary .attribute-pa_size > a.change-value.active[data-value="sensitive"],
    .summary a.change-value:hover[data-value="sensitive"],
    .summary a.change-value.active[data-value="sensitive"] {
      background: #3fa537 !important;
      border-color: #3fa537 !important; }
.summary .cart .single_add_to_cart_button:hover {
  background: #d1232a; }
.summary .price {
  font-size: 20px;
  color: #1d1d1b;
  margin-bottom: 30px; }
  .summary .price.subscription-price del {
    display: none; }
  .summary .price .wcsatt-dash {
    display: none; }
  .summary .price .wcsatt-sub-options,
  .summary .price .wcsatt-sub-discount {
    font-size: 16px; }
.summary .wcsatt-options-wrapper h3 {
  font-size: 17px; }
.summary .wcsatt-options-wrapper .subscription-option-details .woocommerce-Price-amount.amount,
.summary .wcsatt-options-wrapper .subscription-option-details .subscription-details {
  font-size: 15px; }

/* Brand Landing */
.brand-landing .banner-page {
  background-attachment: unset !important;
  min-height: 100px !important;
  margin: 0 0 15px 0 !important;
  background-size: 100% !important; }
@media screen and (min-width: 768px) {
  .brand-landing .banner-page {
    min-height: 350px !important; } }
.brand-landing .page-title,
.brand-landing .breadcrumbs {
  display: none; }
.brand-landing .main-content h1 {
  text-align: center;
  color: #0B225D; }
.brand-landing .main-content h1.pre-header {
  color: #6D7278;
  font-size: 15px;
  text-transform: uppercase; }
.brand-landing .main-content .intro-para {
  background: #0B225D;
  padding: 25px 10%;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center; }
  .brand-landing .main-content .intro-para h3 {
    line-height: 1.4;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300; }
.brand-landing .main-content .roundels {
  margin-top: 2em;
  margin-bottom: 2em; }
@media screen and (max-width: 40em) {
  .brand-landing .main-content .roundels .wpb_wrapper {
    max-width: 18em;
    margin: 0 auto;
    margin-bottom: 1em; } }
@media screen and (min-width: 768px) {
  .brand-landing .main-content .wpb_single_image img {
    max-height: 500px;
    width: auto;
    margin: 0 auto; } }
.brand-landing .main-content .brand-logo {
  margin-bottom: 2rem; }
.brand-landing .main-content .brand-logo .wpb_single_image .vc_figure {
  max-width: 500px; }
.brand-landing .main-content .product .solid-bg {
  background: #1d1d1b;
  padding: 2em; }
@media screen and (min-width: 768px) {
  .brand-landing .main-content .product .solid-bg {
    background: #1d1d1b;
    padding: 2em; } }
.brand-landing .main-content .solid-bg:after {
  border: 3px solid #D21E6F;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -8px;
  left: -8px; }
.brand-landing .main-content .product.men .solid-bg:after {
  border-color: #a8abe2; }
.brand-landing .main-content .product.women .solid-bg:after {
  border-color: #D21E6F; }
.brand-landing .main-content .product .solid-bg p,
.brand-landing .main-content .product .solid-bg h3 {
  color: #ffffff; }
.brand-landing .main-content .product .solid-bg p {
  font-size: 1.1em;
  line-height: 1.7; }
.brand-landing .main-content .product .solid-bg .vc_btn3 {
  background-color: #cbcce0;
  color: #1d1d1b;
  border-radius: 0;
  border: 0;
  margin-top: 3em;
  z-index: 1; }
.brand-landing .main-content .product.men .solid-bg button {
  background-color: #cbcce0; }
.brand-landing .main-content .product.women .solid-bg button {
  background-color: #D21E6F; }
.brand-landing .main-content .vc_separator {
  margin: 3em 0 3em; }
.brand-landing .main-content .women .intro-para {
  background-color: #D21E6F; }
.brand-landing .main-content .product.men .solid-bg .vc_btn3 {
  background-color: #cbcce0; }
.brand-landing .main-content .product.women .solid-bg .vc_btn3 {
  background-color: #D21E6F;
  color: #ffffff; }

/* Blokini */
.blokini-data-box .wpb_wrapper .blokini-number,
.blokini-data-box .wpb_wrapper .blokini-text {
  float: left;
  color: #1d1d1b;
  height: 72px; }
.blokini-data-box .wpb_wrapper .blokini-number {
  width: 30%;
  font-size: 27px;
  font-weight: bold;
  background-color: #dbdbdb;
  line-height: 72px;
  text-align: center; }
.blokini-data-box .wpb_wrapper .blokini-text {
  display: flex;
  width: 70%;
  height: 72px;
  background: #ffc900;
  margin-bottom: 30px; }
  .blokini-data-box .wpb_wrapper .blokini-text p {
    margin: auto 0;
    /* Important */
    font-size: 15px;
    padding: 0px 20px; }

.blokini-process .process-holder {
  float: left;
  width: 18%;
  position: relative;
  display: flex;
  height: 150px;
  width: 150px;
  background: #ffc900;
  margin: 50px auto 0;
  background: #1d1d1b; }
  .blokini-process .process-holder:nth-child(2), .blokini-process .process-holder:nth-child(4) {
    float: right; }
  .blokini-process .process-holder .svg-inline--fa {
    position: absolute;
    font-size: 47px;
    color: #ffc900;
    text-align: center; }
  .blokini-process .process-holder:nth-child(1) .svg-inline--fa {
    right: -35px;
    top: 46px; }
  .blokini-process .process-holder:nth-child(2) .svg-inline--fa {
    bottom: -48px;
    width: 150px; }
  .blokini-process .process-holder:nth-child(4) .svg-inline--fa {
    left: -35px;
    top: 46px; }
  .blokini-process .process-holder:nth-child(3) .svg-inline--fa {
    bottom: -48px;
    width: 150px; }
  .blokini-process .process-holder p {
    color: #ffc900;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 22px;
    line-height: 35px; }

/* Cats */
.archive.tax-product_cat .bestseller-cat-products {
  display: none; }

.categories-product-woo {
  display: none; }

/* Cart */
.cart .quantity {
  margin-bottom: 0; }
.cart .variation dd {
  padding: 0;
  margin-left: 10px;
  font-weight: bold; }
.cart .variation dt {
  clear: left;
  margin-left: 10px;
  display: none;
  font-weight: normal; }
.cart .variation dd, .cart .variation dt {
  float: left;
  font-size: 90%;
  margin-top: 5px; }

.woocommerce-cart .order-total,
.woocommerce-checkout .order-total {
  border-top: 3px solid #8f003d;
  border-bottom: 3px solid #8f003d; }
.woocommerce-cart #payment_method_heading,
.woocommerce-checkout #payment_method_heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 17px 30px 17px 0; }
.woocommerce-cart .woocommerce-checkout-review-order-wrap #order_review_heading,
.woocommerce-checkout .woocommerce-checkout-review-order-wrap #order_review_heading {
  padding-top: 0 !important; }
.woocommerce-cart .kl_newsletter_checkbox_field .checkbox input[type=checkbox],
.woocommerce-checkout .kl_newsletter_checkbox_field .checkbox input[type=checkbox] {
  margin-left: 0;
  position: relative; }
.woocommerce-cart h2, .woocommerce-cart .recurring-totals th,
.woocommerce-checkout h2,
.woocommerce-checkout .recurring-totals th {
  padding-top: 50px !important;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 30px !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0; }

.estimated-delivery {
  margin-top: 10px;
  font-size: 16px; }
  .estimated-delivery span {
    font-weight: bold; }

form.woocommerce-shipping-calculator #calc_shipping_state_field, form.woocommerce-shipping-calculator #calc_shipping_city_field, form.woocommerce-shipping-calculator #calc_shipping_postcode_field {
  display: none !important; }

.woocommerce-checkout-review-order-wrap,
.col2-set:not(.woocommerce-Addresses) {
  padding: 30px; }

#stripe-payment-data p {
  display: none; }

.woocommerce-checkout.processing {
  opacity: 0.4; }

.woocommerce-shipping-destination,
.cart-collaterals .cart_totals .shop_table .shipping label::before {
  display: none !important; }

@media (min-width: 1025px) {
  .woocommerce-checkout .checkout-before-top > div:first-child {
    width: 58.33333333%;
    float: left;
    padding: 0 15px; }
  .woocommerce-checkout .checkout-before-top > div:nth-child(2) {
    width: 41.66666667%;
    float: right;
    padding: 0 15px; } }
/* Account */
.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-button,
.woocommerce-account .woocommerce-MyAccount-navigation a.button,
.woocommerce-account .woocommerce-MyAccount-navigation a.edit,
.woocommerce-account .woocommerce-MyAccount-navigation button,
.woocommerce-account .woocommerce-MyAccount-navigation a.delete,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-button,
.woocommerce-account .woocommerce-MyAccount-content a.button,
.woocommerce-account .woocommerce-MyAccount-content a.edit,
.woocommerce-account .woocommerce-MyAccount-content button,
.woocommerce-account .woocommerce-MyAccount-content a.delete {
  padding: 5px 15px;
  display: inline-block;
  background: #8f003d;
  color: #ffffff !important;
  margin: 15px 0; }
.woocommerce-account .woocommerce-MyAccount-navigation button,
.woocommerce-account .woocommerce-MyAccount-content button {
  line-height: 0; }
.woocommerce-account .woocommerce-MyAccount-navigation a.delete,
.woocommerce-account .woocommerce-MyAccount-content a.delete {
  background: #d1232a !important; }
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-account .woocommerce-MyAccount-content ul li.is-active a,
.woocommerce-account .woocommerce-MyAccount-content ul li a:hover {
  color: #8f003d !important; }
.woocommerce-account .form-row-last {
  float: left; }

/* Blog */
.single-post .main-single-content h2 {
  margin: 40px 0 20px; }
.single-post .main-single-content a {
  color: #8f003d; }

/* Contact */
.contact_box.chat {
  cursor: pointer; }
.contact_box .vc_column-inner {
  margin: 0 auto;
  width: 90%;
  -webkit-box-shadow: 0px 0px 9px 0px #c4c4c4;
  -moz-box-shadow: 0px 0px 9px 0px #c4c4c4;
  box-shadow: 0px 0px 9px 0px #c4c4c4;
  height: 250px;
  padding: 50px 0; }
  .contact_box .vc_column-inner p {
    padding: 0 20px;
    margin: 0 auto; }

/* 404 */
.page-404 {
  padding-top: 45px; }
  .page-404 .heading {
    font-size: 80px; }
  .page-404 .img-404 {
    background: url("../img/404.png");
    background-size: 250px 132px;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 250px;
    height: 132px; }

/* Order */
.woocommerce-table--order-details img.thankyou-thumb {
  width: 50px;
  margin: 25px; }
.woocommerce-table--order-details .product-quantity {
  vertical-align: middle; }

.woocommerce-account-fields {
  overflow: visible; }

/* icons */
body {
  color: #1d1d1b; }

/* Generic */
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  border-top-color: #19204a; }

/*# sourceMappingURL=ws.css.map */
